.conectionTimeout {
    @include flexcencenwrap;
    top: 58px;
    width: 100%;
    height: 500px;
    background-color: $bgwhite;
    &__anchr {
        background-color: $bgblue80;
        color: $white;
        padding: 0 10px;
        border-radius: $brdef;
        white-space: nowrap;
    }
    p {
        width: 100%;
        font-size: 1.2em;
        font-weight: 700;
    }
    svg {
        font-size: 2em;
        margin: 0 10px -4px 0;
    }
}

.connectionFailed {
    @include flexcencenwrap;
    width: 100%;
    p {
        width: 100%;
        font-size: 1.2em;
        font-weight: 700;
        color: $fc-white;
    }
}

.pageAlert {
    font-size: .9rem;
    box-shadow: 0 0 5px $gray;
    background-color: white;
    border-radius: $brdef;
}

.success {
    position: fixed;
    max-width: 1000px;
    width: 100%;
    right: 50%;
    bottom: 16px;
    transform: translateX(50%);
    display: flex;
    justify-content: flex-start;
    padding: 0 16p;
    animation: 2s;
    &__info {       
        background-color: #ece6ff;
        box-shadow: 0 0 10px $gray;
        opacity: 1;
        bottom: 16px;
        left: 16px;
        padding: 16px;
        border-radius: 10px;
    }

   
    // Sm
    @media (max-width: 576px) {
        justify-content: center;
        &__info {
            width: 90%;
        }
    }
}
