.bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #ccc;
    height: 50px;
    width: auto;
    background-color: $white;
    border-radius: 30px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        
    }
    &__right {
        display: none;
        transition: .2s;
    }
    &__menu {
        margin: 0 10px;
        cursor: pointer;
    }
    &__menu,
    &__item {
        border-radius: 30px;
        box-shadow: 0 0 10px #ccc;
        padding: 5px 10px;
        margin-right: 10px;
        background-color: orange;
        color: $white;

        svg {
            margin: 0 0 -2px;
        }

        &:hover {
            span {
                display: inline-flex;
            }
        }
    }
    &__text {
        display: none;
        padding-left: 10px;
    }
}