.bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #ccc;
    height: 50px;
    width: auto;
    background-color: $white;
    border-radius: 30px;
    transition: all 2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    display: none;
    &[data-bar="true"] {
        .bar__left {
            display: none;
        }
        .bar__right {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    &__right {
        display: none;
        transition: 2s;
    }
    &__menu {
        margin: 0 10px;
        transition: 2s;
        cursor: pointer;
        svg {
            margin: 0 0 -2 10px;
        }
    }
    &__menu,
    &__item {
        border-radius: 30px;
        box-shadow: 0 0 10px #ccc;
        padding: 5px 10px;
        margin: 0 10px;
        background-color: orange;
        color: $white;
        cursor: pointer;
        svg {
            margin: 0 0 -3px;
        }

        &:hover {
            span {
                display: inline-flex;
                transition: 2s;
            }
        }
    }
    &__text {
        display: none;
        padding-left: 10px;
    }

    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {
        &[data-bar="true"] {
            .bar__right {
                display: flex;
            }
        }
    }
    // Lg
    @media (min-width: 991px) {
        &__fldst {
            &--hlf {
                width: 50%;
            }
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}