.btn {
    &__darkmode {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 1000px;
        padding: 10px 0;
        margin: auto;
        &__button {
            color: $white;
            padding: 10px;
            border-radius: $brdef;
            background-color: unset;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            position: relative;
            height: 40px;
            width: 125px;
            span {
                position: absolute;
                bottom: -25px;
                right: 0;
                white-space: nowrap;
            }
        }
        &__icon {
            font-size: 1.3rem;
        }
    }
}

#toggle_switch[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;

    &:checked + #toggle_switch-label::after {
        right: 5px;
        transform: translateX(-100%);    
    }
}

#toggle_switch-label {
    display: block;
    width: 50px;
    height: 30px;
    background-color: $black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 10px $gray;

    &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $white;
        position: absolute;
        border-radius: 70px;
        top: 5px;
        right: calc(0% + 5px);
        transition: 0.5s;
    }
}
