.emoji {
    &--title {
        display: flex;
        align-items: center;
        margin: 0px auto 0;
        position: relative;
        background-color: #ece6ff;
        padding: 8px;
        border-radius: 10px;
        max-width: 1000px;
        &--quiz {
            position: absolute;
            top: 86px;
            left: 50%;
            transform: translateX(-50%);
            width: $wmax;
            max-width: 1000px;
            
            @media (max-width: 575px) {
                margin: 0 10px;
                width: calc($wmax - 20px);
                left: 0;
                transform: translateY(0);
            }
        }
        &--noback {
            background-color: unset;
        }
    }
    &--navigation {
        font-size: 3rem;
    }
    &--header {
        font-size: 1.3rem;
    }
}

// DarkMode
body.dark-mode {
    .emoji {
        &--title {
            background-color: unset;
        }
    }
}
