.emoji {
    &--title {
        display: flex;
        align-items: center;
        margin: 0px auto 0;
        position: relative;
        background-color: #ece6ff;
        padding: 8px;
        border-radius: 10px;
        max-width: 1000px;
    }
    &--navigation {
        font-size: 3rem;
    }
}