.mttr {
    &__wrppr {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        background-color: #ebeaea;
        display: flex;
        justify-content: space-between;
    }
    &__rltd {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #fbfbfb;
        padding: 20px 10px;
        border-radius: 10px;
        width: 30%;
        height: fit-content;
        &__ttl {
            font-size: 1.2em;
            padding: 10px 0;
            margin: 0 0 10px;
            svg {
                font-size: 1.2em;
            }
        }
        &__anchr {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 3px 0;
            width: 100%;
        }
        &__img {
            max-width: 100%;
        }
        &__bttn {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px 10px;
            white-space: nowrap;
            display: block;
            margin: 5px 0;
            svg {
                margin-right: 10px;
            }
        }
    }
    &__cntnt {
        width: 68%;
    }
    &__tgs {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        background-color: #ebeaea;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        &__ttl {
            width: 100%;
            padding: 10px 0;
            svg {
                margin-right: 10px;
            }
        }
        &__anchr {
            margin: 0 10px 10px 0;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    }
    &__img {
        max-width: 100%;
        &__crdts {
            font-size: .7em;
            text-align: center;
        }
    }
    &__dtls {
        line-height: 3px;
        font-size: .9em;
        margin: 0 0 25px;
        &__writer {}
        &__date {}
        &__lastUpdate {}
    }
    &__prmryWrp {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fbfbfb;
        color: #4a4a4a;
        border-radius: 10px;
        text-align: left;
        margin: 0px auto 20px;
        padding: 30px;
        box-sizing: border-box;
        &--cntnt {
            line-height: 25px;
            text-align: left; 
            .img {
                max-width: 100%;
            }
            .wrnPrgrph {
                border: 1px solid #e7e5d8;
                border-left: 5px solid #f1f19c;
                padding: 20px;
                background-color: #ebeba46e;
                &::before {
                    content: "Observação";
                    display: block;
                }
            }
        }
    }
    &__prmryTtl {
        color: #4a4a4a;
        font-size: 1.3em;
        text-transform: uppercase;
        margin: 15px 0;
    }
    &__scndtyTtl {
        color: #4a4a4a;
        margin: 0 0 30px;
        font-size: 1.1rem;
    }
    &__trcryTtl {
        background-color: #ccc;
        padding: 10px;
        border-radius: 10px;
        white-space: nowrap;
        color: #fff;
    }
    &__wrn {
        display: none;
    }
    &__actvty {
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        text-align: left;
        border-left: 3px solid;
        &__bttn {
            padding: 10px;
            background-color: #ebeaea;
            border-radius: 10px;
            svg {
                margin: 0 10px 0 0;
            }
        }
    }
    &__rf {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        text-align: left;
        border-left: 3px solid;
        &__lst {
            list-style-type: lower-greek;
        }
    }
    &__spprt {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.1em;
        text-align: left;
        border-left: 3px solid;
        &__lst {
            list-style-type: armenian;
        }
    }
    &__srch {
        width: 100%;
        padding: 10px 0 30px;
        text-align: left;
        &__inpt {
            height: 50px;
            border-radius: 10px;
            border: none;
            width: 100%;
            padding: 10px;
        }
    }
    &__allMttrs {
        display: flex;
        flex-wrap: wrap;
    }
    &__itm {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 0 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #af95ac;
        padding: 10px;
        &__img {
            width: 90px;
        }
        &__ttl {
            margin: 0 10px;
        }
    }

    // Xs
    @media (max-width: 575px) {
        &__prmryWrp {}
        &__wrn {
            display: block;
            padding: 10px;
            background-color: #300aff2b;
            margin-bottom: 10px;
            border-radius: 10px;
            width: fit-content;
            margin: 10px auto;
        }
        &__itm {
            width: 100%;
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__allMttrs {
            justify-content: center;
        }
        &__itm {
            width: 48%;
            margin-right: 10px;
        }
    }
    // Md
    @media (min-width: 768px) {
        &__itm {
            width: 22%;
        }
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}