.dragAlert {
    width: fit-content;
    border-radius: $brdef;
    padding: 5px 18px;
    color: $fc-white;
    cursor: grab;
    &--tp-01 {
        position: absolute;
        right: 0;
        top: 20px;
        svg {
            margin: 0 0 -3px 10px;
        }
    }

    // Xs
    @media (max-width: 575px) {
        &--tp-01 {
            position: relative;
            margin: 10px 0;
            left: 15px;
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
