.content {
    padding: 30px 10px;
    &__wrp {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        background-color: $bg-box;
        border-radius: $brdef ;
    }
    &__frm {
        display: flex;
        flex-wrap: wrap;
    }
    &__fldst {
        margin: 0 0 10px;
        border: none;
        text-align: left;
        width: $wmax;
        &--hlf {
            width: 100%;
        }
    }
    &__lgnd {
        padding: 0;
        margin: 0;
        color: $fc-white;
    }
    &__slct {
        div {
            @include select;
        }
    }
    &__inpt {
        @include input-font;
    }
    &__sbmt {
        border: none;
        width: $wmax;
        padding: 10px;
        border-radius: $brdef ;
        cursor: pointer;
        background-color: $bgblue80;
        color: $white;
    }
    &__rtrn {
        @include warn;
    }
    &__upld {
        &__bttn {
            margin: 0 5px 0 0;
            padding: 10px;
            background-color: $bgblue80;
            border: none;
            font-size: 1em;
            border-radius: $brdef ;
            color: $white;
            svg {
                margin-right: 5px;
            }
        }
        &__bttnDown {
            margin: 0 5px 0 0;
            padding: 10px;
            background-color: $bgblue80;
            border: none;
            border-radius: $brdef ;
            color: $white;
        }
    }

    // Sm
    @media (min-width: 576px) {
        
    }
    // Md
    @media (min-width: 768px) {
        
    }
    // Lg
    @media (min-width: 991px) {
        &__fldst {
            &--hlf {
                width: 50%;
                //margin-right: 10px;
            }
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}