.cntct {
    padding: 30px 10px;
    &__wrp {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        background-color: $bgwhite;
        border-radius: $brdef ;
    }
    &__frm {}
    &__fldst {
        margin: 0;
        border: none;
        text-align: left;
    }
    &__lgnd {
        padding: 0;
        margin: 0;
    }
    &__slct {
        div {
            border: none;
            border-radius: $brdef ;
            font-size: 1em;
        }
    }
    &__inpt {
        padding: 10px;
        border-radius: $brdef ;
        border: none;
        width: $wmax;
        font-size: 1em;
        font-weight: 500;
    }
    &__sbmt {
        border: none;
        width: $wmax;
        padding: 10px;
        border-radius: $brdef ;
        cursor: pointer;
        background-color: rgba(177, 8, 253, 0.8);
        color: $white;
    }
    &__rtrn {
        width: $wmax;
        color: rgba(0, 0, 0, 0.7);
        border-left: 4px solid rgba(0, 0, 0, 0.7);
        padding: 10px;
        text-align: left;
        display: block;
        svg {
            margin-right: 10px;
        }
    }
}