.cntct {
    padding: 30px 10px;
    &__wrp {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        background-color: $bg-box;
        border-radius: $brdef;
    }
    &__frm {}
    &__fldst {
        margin: 0;
        border: none;
        text-align: left;
    }
    &__lgnd {
        padding: 0;
        margin: 0;
        color: $fc-white;
    }
    &__slct {
        div {
            border: none;
            border-radius: $brdef;
            font-size: 1em;
        }
    }
    &__inpt {
        padding: 10px;
        border-radius: $brdef;
        border: none;
        width: $wmax;
        font-size: 1em;
        font-weight: 500;
    }
    &__sbmt {
        border: none;
        width: $wmax;
        padding: 10px;
        border-radius: $brdef;
        cursor: pointer;
        background-color: $bgblue80;
        color: $white;
    }
    &__rtrn {
        width: $wmax;
        color: $black;
        border-left: 4px solid $bc-black70;
        padding: 10px;
        text-align: left;
        display: block;
        svg {
            margin-right: 10px;
        }
    }
}