.cntct {
    padding: 30px 10px;
    &__wrp {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        background-color: $bg-box;
        border-radius: $brdef;
    }
    &__frm {}
    &__fldst {
        margin: 0;
        border: none;
        text-align: left;
    }
    &__lgnd {
        padding: 0;
        margin: 0;
        color: $fc-white;
    }
    &__slct {
        div {
            @include select;
        }
    }
    &__inpt {
        @include input-font
    }
    &__sbmt {
        border: none;
        width: $wmax;
        padding: 10px;
        border-radius: $brdef;
        cursor: pointer;
        background-color: $bgblue80;
        color: $white;
    }
    &__rtrn {
        @include warn;
    }
}
