.content {
    padding: 40px 10px;
    &__wrp {
        max-width: 800px;
        margin: auto;
        padding: 10px;
    }
    &__frm {
        display: flex;
        flex-wrap: wrap;
    }
    &__fldst {
        margin: 0 0 10px;
        border: none;
        text-align: left;
        width: $wmax;
        &--hlf {
            width: 100%;
        }
        &--altrntvs {
            display: flex;
            margin-bottom: 0;
        }
    }
    &__lgnd {
        padding: 0;
        margin: 0;
        color: #716b72;
    }
    &__slct {
        div {
            @include select;
        }
    }
    &__inpt {
        @include input-font;
        box-shadow: 0 0 10px #ccc;
        border-radius: 10px;
        &--altrntvs {
            width: 90%;
            border-radius: 10px 0 0 10px;
        }
    }
    &__altrntvs {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px 10px;
        li {
            display: inline-flex;
            justify-content: space-between;
            background-color: $bg-main;
            padding: 10px;
            border-radius: $brdef;
        }
    }
    &__btn {
        &--altrntvs {
            border-radius: 0 10px 10px 0;
            width: 10%;
        }
    }
    &__sbmt {
        border: none;
        width: $wmax;
        padding: 10px;
        border-radius: $brdef ;
        cursor: pointer;
        background-color: rgb(255 153 0);
        color: $white;
    }
    &__rtrn {
        @include warn;
        color: #716b72;
    }
    &__upld {
        &__bttn {
            margin: 0 5px 0 0;
            padding: 10px;
            background-color: rgb(255 153 0);
            border: none;
            font-size: 1em;
            border-radius: $brdef;
            color: $white;
            svg {
                margin-right: 5px;
            }
        }
        &__bttnDown {
            margin: 0 5px 0 0;
            padding: 10px;
            background-color: $bgblue80;
            border: none;
            border-radius: $brdef ;
            color: $white;
        }
    }

    // Sm
    @media (min-width: 576px) {
        
    }
    // Md
    @media (min-width: 768px) {
        
    }
    // Lg
    @media (min-width: 991px) {
        &__fldst {
            &--hlf {
                width: 50%;
            }
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}