.crs {
    padding: 10px;
    &__wrppr {
        max-width: 1200px;
        position: relative;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__wrpprAll {
        max-width: 1200px;
        position: relative;
        margin: auto;
        display: flex;
    }
    &__artcls {
        width: 100%;
        margin: 0 auto 10px;
        padding: 10px;
        background-color: $bg-box;;
        border-radius: $brdef;
        &__ttl {
            font-size: 1.2em;
            text-align: left;
            padding: 0 10px;
            color: $fc-white;
        }
    }
    // &__rltd {
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    //     background-color: $bgwhite95;
    //     padding: 20px 10px;
    //     border-radius: $brdef ;
    //     width: 100%;
    //     height: fit-content;
    //     &__ttl {
    //         font-size: 1.2em;
    //         padding: 10px 0;
    //         margin: 0 0 10px;
    //         svg {
    //             font-size: 1.2em;
    //         }
    //     }
    //     &__anchr {
    //         padding: 10px;
    //         border: 1px solid $bc-gray;
    //         border-radius: $brdef ;
    //         margin: 3px 0;
    //         width: $wmax;
    //     }
    //     &__img {
    //         max-width: $wmax;
    //     }
    //     &__bttn {
    //         border: 1px solid $bc-gray;
    //         border-radius: $brdef ;
    //         padding: 5px 10px;
    //         white-space: nowrap;
    //         display: block;
    //         margin: 5px 0;
    //         svg {
    //             margin-right: 10px;
    //         }
    //     }
    // }
    &__cntnt {
        width: 100%;
    }
    &__tgs {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        &__ttl {
            width: $wmax;
            padding: 10px 0;
            svg {
                margin-right: 10px;
            }
        }
        &__anchr {
            margin: 0 10px 10px 0;
            padding: 5px;
            border: 1px solid $bc-gray;
            border-radius: $brdef;
        }
    }
    // &__img {
    //     max-width: $wmax;
    //     &__crdts {
    //         font-size: .7em;
    //         text-align: center;
    //     }
    // }
    // &__dtls {
    //     line-height: 3px;
    //     font-size: .9em;
    //     margin: 0 0 25px;
    //     &__writer {}
    //     &__date {}
    //     &__lastUpdate {}
    // }
    // &__prmryWrp {
    //     max-width: 1200px;
    //     margin: 0 auto;
    //     background-color: $bgwhite95;
    //     color: #4a4a4a;
    //     border-radius: $brdef ;
    //     text-align: left;
    //     margin: 0px auto 20px;
    //     padding: 30px;
    //     box-sizing: border-box;
    //     &--cntnt {
    //         line-height: 25px;
    //         text-align: left; 
    //         .img {
    //             max-width: $wmax;
    //         }
    //         .wrnPrgrph {
    //             border: 1px solid #e7e5d8;
    //             border-left: 5px solid #f1f19c;
    //             padding: 20px;
    //             background-color: #ebeba46e;
    //             &::before {
    //                 content: "Observação";
    //                 display: block;
    //             }
    //         }
    //     }
    // }
    // &__prmryTtl {
    //     color: #4a4a4a;
    //     font-size: 1.3em;
    //     text-transform: uppercase;
    //     margin: 15px 0;
    // }
    // &__scndtyTtl {
    //     color: #4a4a4a;
    //     margin: 0 0 30px;
    //     font-size: 1.1rem;
    // }
    // &__trcryTtl {
    //     background-color: $bggray;
    //     padding: 10px;
    //     border-radius: $brdef ;
    //     white-space: nowrap;
    //     color: $white;
    //     margin: 0 0 10px;
    //     width: fit-content;
    // }
    // &__wrn {
    //     display: none;
    // }
    // &__actvty {
    //     display: block;
    //     margin-bottom: 20px;
    //     padding: 10px;
    //     text-align: left;
    //     border-left: 3px solid;
    //     &__bttn {
    //         padding: 10px;
    //         background-color: #ebeaea;
    //         border-radius: $brdef ;
    //         svg {
    //             margin: 0 10px 0 0;
    //         }
    //     }
    // }
    // &__rf {
    //     display: block;
    //     margin-bottom: 10px;
    //     padding: 10px;
    //     text-align: left;
    //     border-left: 3px solid;
    //     &__lst {
    //         list-style-type: lower-greek;
    //     }
    // }
    // &__spprt {
    //     display: block;
    //     margin-bottom: 10px;
    //     padding: 10px;
    //     font-size: 1.1em;
    //     text-align: left;
    //     border-left: 3px solid;
    //     &__lst {
    //         list-style-type: armenian;
    //     }
    // }
    &__srch {
        width: $wmax;
        padding: 10px 0 30px;
        text-align: left;
        &__inpt {
            height: 50px;
            border-radius: $brdef;
            border: none;
            width: $wmax;
            padding: 10px;
        }
    }
    &__allCrs {
        display: flex;
        width: $wmax;
        flex-wrap: wrap;
    }
    &__itm {
        @include flexcencen;
        border: 3px solid $bc-gray;
        border-radius: $brdef;
        margin: 0 0 10px;
        padding: 10px;
        cursor: pointer;
        &__img {
            width: 90px;
        }
        &__ttl {
            margin: 0 10px;
            color: $fc-white;
        }
        &__edt {
            @include flexwrap;
            justify-content: flex-end;
            &__anchr {
                padding: 3px 10px;
                border: 1px solid $bc-gray;
                background-color: $bgblue80;
                color: $bgwhite;
                border-radius: $brdef;
                white-space: nowrap;
                width: -webkit-fill-available;
                max-width: 120px;
                margin: 0 0 10px;
                svg {
                    margin: 0 10px -2px 0;
                }
            }
        }
        
        &:hover {
            border-radius: $brdef ;
            background-color: $bgwhite95;
        }
    }
    &__workout {
        position: fixed;
        right: 6%;
        bottom: 50px;
        width: 70px;
        height: 70px;
        padding: 10px;
        box-shadow: inset 0px 0px 3px $gray;
        background-color: rgba(255, 255, 255, 0.76);
        @include flexcencen;
        border-radius: $brdef ;
        svg {
            font-size: 3.5em;
            padding: 10px;
            box-shadow: inset 0px 0px 3px $bc-gray;
            border-radius: $brdef ;
        }
    }

    &__crd {
        @include flexcencen;
        flex-wrap: nowrap;
        padding: 10px 0;
        margin-bottom: 10px;
        border-radius: 10px;
        position: relative;
        &__img {
            &__cntnt {
                max-width: $wmax;
            }
        }
        &__inf {
            text-align: left;
            padding: 0 10px;
            display: flex;
            flex-wrap: wrap;
            color: $fc-white;
            h6 {
                margin: 0 0 10px; 
                font-size: 1.3em;
                width: $wmax;
            }
        }
        &__vw {
            position: absolute;
            top: 15px;
            border: 1px solid $bc-gray;
            border-radius: $brdef;
            height: 30px;
            right: 20px;
            padding: 0 10px;
            svg {
                margin: 0px 0 -2px 7px;
            }
        }
        &__sbjct {
            background-color: $bgwhite95;
            border-radius: $brdef;
            padding: 0 10px;
            color: $white;
        }
    }

    &__cntnt {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    &__ttl {
        text-align: left;
        color: $fc-white;
        padding: 10px;
        width: 100%;
        margin: 10px 0;
    }
    &__dscrptn {
        text-align: left;
        padding: 0 10px 20px;
        color: $fc-white;
    }
    &__br {
        width: 100%;
        margin: 0 auto;
        background-color: $bg-box;
        border-radius: $brdef;
        margin-bottom: 10px;
        height: fit-content;
        &__optns {
            width: 100%;
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
        }
        &__itm {
            width: 100%;
        }
        &__anchr {
            display: block;
            padding: 10px 10px 20px;
            color: $fc-white;
            margin-bottom: 10px;
            &--ttl {
                border-bottom: 3px solid $bc-white;
                font-size: 1.1em;
                font-weight: 700;
            }
        }
    }

    &__allMttrs {
        width: 68%;
        padding: 10px;
        margin: 0 auto;
        background-color: $bgwhitealt;
        border-radius: $brdef ;
        margin-right: 10px;
    }

    // Xs
    @media (max-width: 575px) {
        &__prmryWrp {}
        &__wrn {
            display: block;
            padding: 10px;
            background-color: #300aff2b;
            margin-bottom: 10px;
            border-radius: $brdef ;
            width: fit-content;
            margin: 10px auto;
        }
        &__itm {
            width: $wmax;
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__wrappr {
            padding: 15px 10px 10px;
        }
        &__itm {
            width: 48%;
            margin-right: 10px;
        }
    }
    // Md
    @media (min-width: 768px) {
    }
    // Lg
    @media (min-width: 991px) {
        &__cntnt {
           //width: 68%;
        }
        &__br {
            width: 30%;
            padding: 10px;
            margin-right: 10px;
            &__optns {
                text-align: left;
            }
        }
        &__artcls {
            width: 68%;
            padding: 10px;
        }
        &__crd {
            padding: 10px 10px 20px;
        }
        &__rltd {
            width: 30%;
        }
        &__itm {
            width: 24%;
            height: 150px;
        }

    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}