.crs {
    padding: 10px;
    &__wrppr {
        max-width: 1200px;
        position: relative;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__wrpprAll {
        max-width: 1200px;
        position: relative;
        margin: auto;
        display: flex;
    }
    &__artcls {
        width: 100%;
        margin: 0 auto 10px;
        padding: 10px;
        background-color: $bg-box;;
        border-radius: $brdef;
        &__ttl {
            font-size: 1.2em;
            text-align: left;
            padding: 0 10px;
            color: $fc-white;
        }
    }
    &__cntnt {
        width: 100%;
    }
    &__tgs {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        &__ttl {
            width: $wmax;
            padding: 10px 0;
            svg {
                margin-right: 10px;
            }
        }
        &__anchr {
            margin: 0 10px 10px 0;
            padding: 5px;
            border: 1px solid $bc-gray;
            border-radius: $brdef;
        }
    }
    &__srch {
        width: $wmax;
        padding: 10px 0 30px;
        text-align: left;
        &__inpt {
            height: 50px;
            border-radius: $brdef;
            border: none;
            width: $wmax;
            padding: 10px;
        }
    }
    &__allCrs {
        display: flex;
        width: $wmax;
        flex-wrap: wrap;
    }
    &__itm {
        @include flexcencen;
        border: 3px solid $bc-gray;
        border-radius: $brdef;
        margin: 0 0 10px;
        padding: 10px;
        cursor: pointer;
        &__img {
            width: 90px;
        }
        &__ttl {
            margin: 0 10px;
            color: $fc-white;
        }
        &__edt {
            @include flexwrap;
            justify-content: flex-end;
            &__anchr {
                padding: 3px 10px;
                border: 1px solid $bc-gray;
                background-color: $bgblue80;
                color: $bgwhite;
                border-radius: $brdef;
                white-space: nowrap;
                width: -webkit-fill-available;
                max-width: 120px;
                margin: 0 0 10px;
                svg {
                    margin: 0 10px -2px 0;
                }
            }
        }
        
        &:hover {
            border-radius: $brdef;
            background-color: $bgwhite95;
        }
    }
    &__workout {
        @include flexcencen;
        position: fixed;
        right: 6%;
        bottom: 50px;
        width: 70px;
        height: 70px;
        padding: 10px;
        box-shadow: inset 0px 0px 3px $gray;
        background-color: rgba(255, 255, 255, 0.76);
        border-radius: $brdef ;
        svg {
            font-size: 3.5em;
            padding: 10px;
            box-shadow: inset 0px 0px 3px $bc-gray;
            border-radius: $brdef ;
        }
    }
    &__crd {
        @include flexcencen;
        flex-wrap: nowrap;
        padding: 10px 0;
        margin-bottom: 10px;
        border-radius: 10px;
        position: relative;
        &__img {
            &__cntnt {
                max-width: $wmax;
            }
        }
        &__inf {
            text-align: left;
            padding: 0 10px;
            display: flex;
            flex-wrap: wrap;
            color: $fc-white;
            h6 {
                margin: 0 0 10px; 
                font-size: 1.3em;
                width: $wmax;
            }
        }
        &__vw {
            position: absolute;
            top: 15px;
            border: 1px solid $bc-gray;
            border-radius: $brdef;
            height: 30px;
            right: 20px;
            padding: 0 10px;
            svg {
                margin: 0px 0 -2px 7px;
            }
        }
        &__sbjct {
            background-color: $bgwhite95;
            border-radius: $brdef;
            padding: 0 10px;
            color: $white;
        }
    }

    &__cntnt {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    &__ttl {
        text-align: left;
        color: $fc-white;
        padding: 10px;
        width: 100%;
        margin: 10px 0;
    }
    &__dscrptn {
        text-align: left;
        padding: 0 10px 20px;
        color: $fc-white;
    }
    &__br {
        width: 100%;
        margin: 0 auto;
        background-color: $bg-box;
        border-radius: $brdef;
        margin-bottom: 10px;
        height: fit-content;
        &__optns {
            width: 100%;
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
        }
        &__itm {
            width: 100%;
        }
        &__anchr {
            display: block;
            padding: 10px 10px 20px;
            color: $fc-white;
            margin-bottom: 10px;
            &--ttl {
                border-bottom: 3px solid $bc-white;
                font-size: 1.1em;
                font-weight: 700;
            }
        }
    }
    &__allMttrs {
        width: 68%;
        padding: 10px;
        margin: 0 auto;
        background-color: $bgwhitealt;
        border-radius: $brdef;
        margin-right: 10px;
    }

    // Xs
    @media (max-width: 575px) {
        &__prmryWrp {}
        &__wrn {
            display: block;
            padding: 10px;
            background-color: #300aff2b;
            margin-bottom: 10px;
            border-radius: $brdef;
            width: fit-content;
            margin: 10px auto;
        }
        &__itm {
            width: $wmax;
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__wrappr {
            padding: 15px 10px 10px;
        }
        &__itm {
            width: 48%;
            margin-right: 10px;
        }
    }
    // Md
    @media (min-width: 768px) {
    }
    // Lg
    @media (min-width: 991px) {
        &__cntnt {
           //width: 68%;
        }
        &__br {
            width: 30%;
            padding: 10px;
            margin-right: 10px;
            &__optns {
                text-align: left;
            }
            &--mttr {
                width: 100%;
            }
        }
        &__artcls {
            width: 68%;
            padding: 10px;
        }
        &__crd {
            padding: 10px 10px 20px;
        }
        &__rltd {
            width: 30%;
        }
        &__itm {
            width: 24%;
            height: 150px;
        }

    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}