.emblm {
    padding: 40px 10px;
    &__wrp {
        @include flexunscen;
        max-width: 800px;
        margin: auto;
    }
    &__tbl {
        width: 100%;
        border-radius: $brdef;
        &__ttl {
            height: 70px;
            font-weight: 700;
            background-color: #90b3b373;
            color: $white;
        }
        &__rw {
            height: 53px;
            color: $white;
        }
    }
    tr:nth-child(even) {
        background-color: rgb(186, 186, 171);
    }
    tr:nth-child(odd) {
        background-color: rgb(255 153 0);
    }
    svg {
        margin: 0 0 -4px 0;
    }
}
