.emblm {
    padding: 40px 10px;
    &__wrp {
        @include flexunscen;
        max-width: 1000px;
        margin: auto;
        padding: 50px 0 10px;
    }
    &__tbl {
        width: 100%;
        border-radius: $brdef;
        &__ttl {
            height: 70px;
            font-weight: 700;
            background-color: #90b3b373;
            color: $white;
        }
        &__rw {
            height: 53px;
            color: $white;
        }
    }
    tr:nth-child(even) {
        background-color: rgb(186, 186, 171);
    }
    tr:nth-child(odd) {
        background-color: $orange;
    }
    svg {
        margin: 0 0 -4px 0;
    }
}

// DarkMode
body.dark-mode {
    .emblm {
        tr:nth-child(even) {
            background-color: $black;
        }
        tr:nth-child(odd) {
            background-color: rgb(255 153 0 / 14%);
        }
    }
}
