.fd {
    padding: 40px 10px;
    &__wrppr {
        max-width: 1000px;
        margin: auto;
        padding: 10px 10px 50px;
    }
    &__psts {
      border-radius: $brdef;
      padding: 50px 10px 10px;
    }
    &__crd {
        @include flexcencen;
        flex-wrap: nowrap;
        padding: 10px 10px 20px;
        margin: 0 0 10px;
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: rgb(255 153 0);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
        &__img {
            width: 40%;
            &__cntnt {
                max-width: $wmax;
            }
        }
        &__inf {
            text-align: left;
            width: 60%;
            padding: 20px 30px;
            display: flex;
            flex-wrap: wrap;
            h6 {
                margin: 0 0 10px;
                font-size: 1.3em;
                width: $wmax;
                color: #716b72;
            }
            p {
                color: #716b72;
                height: 100px;
                overflow: hidden;
            }
        }
        &__vw {
            position: absolute;
            bottom: 30px;
            border-radius: $brdef;
            height: 30px;
            right: 0;
            padding: 2px 10px 3px;
            color: #FFF;
            background-color: rgb(255 153 0);
            z-index: 1;
            svg {
                margin: 0px 0 -2px 7px;
            }
        }
        &__sbjct {
            border-radius: $brdef;
            padding: 0 10px;
            width: fit-content;
            color: rgb(255 153 0);
            text-align: center;
            border: 2px solid rgb(255 153 0);
        }
    }

    // Xs
    @media (max-width: 575px) {
        &__psts {
            padding: 50px 0 10px;
        }
        &__crd {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            margin: 0 0 20px;
            padding: 0;
            &__img {
                width: $wmax;
            }
            &__inf {
                padding: 0;
                width: $wmax;
                h6 {   
                    border-radius: 10px;
                    padding: 10px;
                    background-color: $white;
                    color: $black;
                }
            }
            &__vw {
                bottom: -12px;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {
        &__crd {
            &__vw {
                position: absolute;
                bottom: -13px;
            }
        }
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
