.fd {
    &__wrppr {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
    }
    &__psts {}
    &__crd {
        @include flexcencen;
        flex-wrap: nowrap;
        border-bottom: 2px solid #ccc;
        background-color: #e9e9e9eb;
        padding: 10px 10px 20px;
        margin: 0 0 10px;
        position: relative;
        &__img {
            &__cntnt {
                max-width: $wmax;
            }
        }
        &__inf {
            text-align: left;
            padding: 0 10px;
            display: flex;
            flex-wrap: wrap;
            h6 {
                margin: 0 0 10px; 
                font-size: 1.3em;
                width: $wmax;
            }
        }
        &__vw {
            position: absolute;
            top: 15px;
            border: 1px solid #ccc;
            border-radius: $brdef ;
            height: 30px;
            right: 20px;
            padding: 0 10px;
            svg {
                margin: 0px 0 -2px 7px;
            }
        }
        &__sbjct {
            background-color: #b3b3b3;
            border-radius: $brdef ;
            padding: 0 10px;
            color: $white;
        }
    }

    // Xs
    @media (max-width: 575px) {
        &__crd {
            flex-wrap: wrap;
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {
        &__crd {
            &__vw {
                position: absolute;
                bottom: 0;
                border: 1px solid #ccc;
                border-radius: $brdef ;
                padding: 0 10px;
            }
        }
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}