.fttr {
    min-height: 10vh;
    width: $wmax;
    background-color: $bgblack70;
    padding: 10px;
    &__wrp {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    &__lst {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px 0;
        &__itm {
            color: $white;
            font-size: 1em;
            padding: 0 20px 0 0;
            a {
                color: $white;
            }
        }
    }
    &__dvl {
      @include flexcencen;
      color: $fc-white;
      width: 100%;
      border-top: 2px solid $bc-gray;
      padding: 30px;
      margin: 30px 0 0;
      &__img {
          max-width: 50px;
          margin-left: 10px;
      }
    }

    // Xs
    @media (max-width: 575px) {
        &__lst {
          flex-direction: column;
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
