.hdr {
    left: 0;
    top: 0;
    width: $wmax;
    background-color: $bgblack70;
    z-index: 2;
    &__wrppr {
        @include flexcencen;
        width: $wmax;
        max-width: 1200px;
        margin: 0 auto;
        padding: 5px;
        &--m {
            justify-content: flex-end;
            background-color: rgb(203, 203, 203);
            width: $wmax;
            height: 90%;
            padding: 20px 10px;
        }
    }
    &__lg {
        width: 10%;
        display: block;
        text-align: left;
        &__img {
            max-width: 90px;
        }
    }
    &__pgs {
        text-align: center;
        flex-grow: 1;
        height: 100%;
        &__itm {
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: 600;
            color: $white;
        }
    }
    &__optns {}
    &__bttns {
        width: $wmax;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        &--mbl {
            display: none;
            color: $cblue80;
        }
    }
    &__lst {
        margin: 0 2px;
        white-space: nowrap;
        &--brdr {
            border-radius: $brdef ;
            background-color: rgb(92 161 171 / 80%);
            padding: 5px 10px;
            margin-left: 10px;
        }
    }
    &__itm {
        cursor: pointer;
        &__icn {
            margin: 3px 5px 0 0;
            color: $white;
            svg {
                margin: 0 5px -2px 0;
            }
            &--ntfctn {
                &:after {
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: #ff0000;
                    content: "";
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: 5px;
                }
            }
            &--lgn {
                margin: 0;
            }
        }
        &__nm {
            color: $white;
        }
        &--ntfctn {
            position: relative;
        }
    }
    &--mbl {
        display: flex;
        width: $wmax;
        height: 100vh;
        position: fixed;
        justify-content: flex-end;
        z-index: 2;
        top: 10vh;
        right: -100%;
        box-sizing: border-box;
        transition: width 1s;
        &__actns {
            width: $wmax;
            height: 50px;
            text-align: right;
        }
        &__cls {
            cursor: pointer;
        }
        &__opncn {
            color: $white;
            font-size: 35px;
        }
        &__clscn {
            margin-right: 10px;
        }
        &__clsnm {
            background-color: $bgblue80;
            border-radius: 20px;
            padding: 10px 15px;
            color: $white;
            svg {
                margin-bottom: -5px;
                font-size: 1.4em;
            }
        }
        &__usr {
            width: $wmax;
            background-color: $bgwhite95;
            padding: 10px 0;
            border-radius: 10px 10px 0 0;
        }
        &__prfl {}
        &__icn {
            border-radius: 20px;
            width: 100px;
            margin: auto;
        }
        &__inf {
            display: flex;
            flex-direction: column;
        }
        &__nm {
            margin: 0 0 0 10px;
            font-size: 1.3rem;
            color: $white;
        }
        &__ocptn {
            color: $white;
        }
        &__lst {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: $bgwhite95;
            li {
                padding: 20px;
                border-bottom: 2px solid $bgblue80;
                color: $white;
            }
        }
        &--opn {
            display: flex;
            right: 0;
            transition: right 1s;
        }
    }

    // Xs
    @media (max-width: 575px) {
        &__pgs,
        &__bttns {
            display: none;
        }
        &__lg,
        &__optns {
            width: 50%;
        }
        &__bttns {
            &--mbl {
                text-align: right;
                display: block;
                svg {
                    font-size: 30px;
                }
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}