.Help {
    width: $wmax;
    padding: 10px;
    &__wrp {
        @include flexwrap;
        align-items: stretch;
        justify-content: space-between;
        max-width: 1200px;
        padding: 20px auto;
        margin: auto;
    }
    &__content {
        width: $wmax;
        background-color: $bg-box;
        border-radius: 20px;
        h4 {
            color: $white;
            font-size: 2rem;
        }
    }
    &__question {
        list-style-type: none;
        text-align: left;
        padding: 0 10px;
        color: $fc-black;
        &__item {
            border-radius: $brdef;
            position: relative;
            cursor: pointer;
        }
        &__doubt {
            padding: 15px 10px;
            display: flex;
            color: $white;
            justify-content: space-between;
        }
        &__icon {
            color: $white;
            position: absolute;
            right: 20px;
        }
        &__answer {
            padding: 10px 20px;
            margin-left: 30px;
            color: $white;
            display: none;
            line-height: 22px;
            border-left: 2px solid $bc-white;
            position: relative;
            &.open {
                display: block;
            }
            &::before {
                content: ">";
                position: absolute;
                left: -20px;
            }
        }
    }
    &__rdrct {
        width: $wmax;
        margin: 10px 0 0;
        background-color: $bg-box;
        border-radius: $brdef;
        font-size: 1em;
        &__txt {
            color: $fc-white;
            &--highlight {
                font-size: 1.2em;
            }
        }
        &__anchr {
            padding: 0 10px;
            background-color: $bgblue80;
            color: $fc-white;
            border-radius: $brdef;
            font-size: 1.2em;
        }
    }

    @media (max-width: 767px) {
        margin: 0 15px;
        width: auto;
        padding: 10px 0;
        &__nav {
            margin: 0 0 10px;
            width: $wmax;
        }
        &__content {
            width: $wmax;
        }
    }
}
