.Help {
    width: 100%;
    padding: 10px;
    &__wrp {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        padding: 20px auto;
    }
    // &__nav {
    //     width: 28%;
    //     background-color: #968a9b6b;
    //     border-radius: 20px;
    //     margin-right: 10px;
    //     &__list {
    //         text-align: center;
    //         list-style-type: none;
    //         margin: 0;
    //         padding: 10px;
    //     }
    //     &__title {
    //         color: #fff;
    //         font-size: 1.2rem;
    //         padding: 20px 0 20px;
    //     }    
    //     &__item {
    //         padding: 15px 0;
    //     }    
    //     &__anchor {
    //         color: #fff;
    //     }    
    // }
    &__content {
        width: 100%;
        background-color: rgb(211 211 211 / 52%);
        border-radius: 20px;
        h4 {
            color: #fff;
            font-size: 2rem;
        }
    }
    &__question {
        list-style-type: none;
        text-align: left;
        padding: 0 10px;
        color: #000000a1;
        &__item {
            background-color: #ffffff96;
            border-radius: 20px;
            position: relative;
            cursor: pointer;
        }
        &__doubt {
            padding: 15px 10px;
            display: flex;
            justify-content: space-between;
        }
        &__icon {
            position: absolute;
            right: 20px;
        }
        &__answer {
            padding: 0 10px 10px;
            display: none;
            line-height: 22px;
            &.open {
                display: block;
            }
        }
    }
    &__rdrct {
        width: 100%;
        margin: 10px 0 0;
        background-color: rgb(211 211 211 / 52%);
        border-radius: 20px;
        font-size: 1em;
        &__txt {
            &--highlight {
                font-size: 1.2em;
            }
        }
        &__anchr {
            padding: 0 10px;
            background-color: aqua;
            border-radius: 10px;
            font-size: 1.2em;
            color: #000;
        }
    }

    @media (max-width: 767px) {
        margin: 0 15px;
        width: auto;
        padding: 10px 0;
        &__nav {
            margin: 0 0 10px;
            width: 100%;
        }
        &__content {
            width: 100%;
        }
    }
}