.Home {
    &__arrowDown {
        display: block;
        margin: -10px auto 0;
        font-size: 25px;
        color: #f4ebeb;
    }
}
.hmBnnrs {
    position: relative;
    overflow-y: hidden;
    max-height: 10vh;
    min-height: 58px;
    .swiper {
        padding: 0 0 35px;
        img {
            width: $wmax;
        }
    }
    // Xs
    @media (max-width: 575px) {
    }
    // Sm
    @media (min-width: 576px) {
        
    }
    // Md
    @media (min-width: 768px) {
      
    }
    // Lg
    @media (min-width: 991px) {
       
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}

.swiper {
    padding: 0 0 35px;
}
.swiper-scrollbar {
    height: 0 !important;
}

.actns {
    //background-color: #edededbd;
    padding: 20px 10px;
    &__dscrptn {
        position: relative;
        text-align: left;
        padding-left: 5px;
        padding: 10px;
        max-width: 1200px;
        margin: 0 auto 20px;
        &__icn {
            display: inline-block;
            height: 100%;
            background-color: $black;
            border-radius: $brdef ;
            padding: 5px 10px;
            font-size: 30px;
            svg {
                color: $white;
            }
        }
        &__ttl {
            padding: 0 10px;
            font-size: 1em;
            p {
                margin: 0;
                font-size: .7em;
            }
            &--dscrptn {
                display: inline-block;
            }
        }
    }
    &__crds {
        @include flexcencenwrap;
        max-width: 1200px;
        margin: 0 auto;
        &--myPrgrss {
            justify-content: flex-start;
        }
    }
    &__itm {
        @include flexcencenwrap;
        box-sizing: border-box;
        min-height: 150px;
        width: 24%;
        max-width: 300px;
        height: 100%;
        background-color: $bgwhite95;
        border: 1px solid #ccc;
        border-radius: $brdef ;
        padding: 10px;
        margin: 0 0px 10px 0;
        cursor: pointer;
        &__img {
            max-width: 100px;
            border-radius: 50%;
        }
        &__nm {
            font-size: 1.1rem;
            color: $black;
            text-transform: uppercase;
            font-weight: 700;
            margin: 10px 0;
            width: $wmax;
            &--fd {
                color: $white;
            }
        }
        &__inf {
            padding: 10px;   
            width: $wmax;
            @include flexcencenwrap;
        }
        &__icn {
            display: none;
        }
        &__bttn {
            width: $wmax;
            border: 1px solid #ccc;
            border-radius: $brdef ;
            background-color: #efebebe0;;
            display: inline-flex;
            align-items: center;
            padding: 8px 2px;
            justify-content: center;
            margin: 10px 0 0;
            font-size: .9em;
            &--fd {
                background-color: rgb(133 88 153 / 55%);
                color: $white;
            }
            svg {
                margin: 2px 5px 0 0;
            }

            &:hover {
                background-color: #efebebe0;
            }
        }
        &__dscrptn {
            font-size: 1rem;
            color: $black;
            width: $wmax;
            height: 30px;
            &--fd {
                color: $white;
            }
            svg {
                display: none;
            }
        }
        &__prgrss {
            width: $wmax;
            height: 20px;
            padding: 5px;
            border: 2px solid rgb(40 96 213 / 80%);
            border-radius: $brdef ;
        }
        &__prcnt {
            height: 100%;
            background-color: rgb(40 96 213 / 80%);
            border-radius: $brdef ;
        }
        &__ht {
            font-size: .8em;
            padding: 10px 0;
        }
        &--fd {
            background-color: rgb(108 162 181);
        }
        &--myPrgrss {
        }

        &:hover {
            box-shadow: inset 0px 0px 20px #efebebe0;
        }
    }
    &__tchrs {
        width: $wmax;
        &__lst {
            width: $wmax;
            @include flexunscen;
        }
        &__itm {
        }
        &__anchr {
            @include flexunscen;
            flex-wrap: wrap;
        }
        &__img {
            width: 90px;
            height: 90px;
            border: 2px solid #ccc;
            border-radius: 50%;
            margin: 0 0 10px;
        }
        &__nm {
            width: $wmax;
            font-size: .9em;
            color: #706f6f;
        }
        &__dscrptn {
            margin: 0;
            font-size: .9em;
        }
    }
    &--bg-01 {
        //background-color: #eef5f5;
    }

    // Xs
    @media (max-width: 575px) {
        &__crds {
            justify-content: space-between;
        }
        &__itm {
            width: 49%;
            height: 220px;
            &__inf {
                padding: 0;
            }
            &__dscrptn {
                display: none;
            }
            &__bttn {}
            &--myPrgrss {
                margin: 0 auto;
                width: $wmax;
                height: 330px;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__itm {
            margin: 0 5px 5px 0;
            &--myPrgrss {
                width: 300px;
            }
        }
    }
    // Md
    @media (min-width: 768px) {
        &__crds {
            &--myPrgrss {
                padding: 0 20px;
            }
        }
        &__dscrptn {
            &__ttl {
                font-size: 1.2em;
            }
        }
        &__itm {
            &__img {
                &--myPrgrss {
                    width: 50%;
                    border-radius: $brdef ;
                }
            }
            &__nm {
                &--myPrgrss {
                    width: 50%;
                    height: 40px;
                }
            }
            &__inf {
                height: 150px;
                &--myPrgrss {
                    width: $wmax;
                    justify-content: flex-end;
                    padding: 0;
                }
            }
            &__dscrptn {
                &--myPrgrss {
                    display: none;
                }
            }
            &__bttn {
                &--myPrgrss {
                    //margin: 10px 10px 10px 0;
                }
            }
            &--myPrgrss {
                width: $wmax;
                max-width: 500px;
                justify-content: space-between;
            }
        }
    }
    // Lg
    @media (min-width: 991px) {
        &__itm {
            &--fd {
            }
            &--myPrgrss {
            }
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}