.Home {
    &__arrowDown {
        display: block;
        margin: 20px auto;
        font-size: 60px;
        color: #f4ebeb;
        filter: grayscale(.6);
        &--seemore {
            margin: 0 auto -10px;
        }
    }

    @media (max-width: 575px) {
        &__arrowDown {
            font-size: 50px;
            margin: 30px auto;
        }
    }
}
.hmBnnrs {
    position: relative;
    overflow-y: hidden;
    .swiper {
        padding: 0 0 35px;
        img {
            width: $wmax;
        }
    }
}
.swiper {
    padding: 0 0 35px;
}
.swiper-scrollbar {
    height: 0 !important;
}
.actns {
    padding: 20px 10px;
    margin: 0 10px;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    &__dscrptn {
        position: relative;
        text-align: center;
        max-width: 1000px;
        padding: 30px 0;
        &__icn {
            display: inline-block;
            height: 100%;
            border-bottom: 3px solid $bc-white;
            padding: 1px 10px;
            font-size: 30px;
            background-color: #716b72;
            svg {
                color: #716b72;
                margin: 0 0px -7px 0;
            }
        }
        &__ttl {
            padding: 0 10px;
            font-size: 1em;
            font-weight: 600;
            color: #716b72;
            text-align: left;
            p {
                margin: 0;
                font-size: .7em;
                color: #716b72;
                text-align: left;
            }
            &--dscrptn {
                display: inline-block;
            }
        }
    }
    &__crds {
        @include flexcenuns;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        &--myPrgrss {
            justify-content: flex-start;
        }
        &--list {
            margin: 20px auto;
        }
    }
    &__itm {
        @include flexcencenwrap;
        box-sizing: border-box;
        min-height: 150px;
        height: 100%;
        width: 49%;
        border-radius: $brdef;
        padding: 10px;
        margin: 0 16px 0 0;
        box-shadow: 0 0 10px 1px #ccc;
        cursor: pointer;
        &__img {
            max-width: 100%;
            border-radius: $brdef;
            &--tutorial {
                max-width: 100%;
            }
        }
        &__nm {
            font-size: 1.1rem;
            color: #716b72;
            text-transform: uppercase;
            font-weight: 700;
            margin: 10px 0;
            width: $wmax;
            &--fd {
                color: $black;
            }
        }
        &__inf {
            padding: 10px 0 0;
            width: $wmax;
            @include flexcencenwrap;
            &--myPrgrss {
                position: relative;
                padding: 10px 0 0;
            }
        }
        &__icn {
            display: none;
        }
        &__bttn {
            width: $wmax;
            background-color: rgb(255 153 0);
            color: $fc-white;
            display: inline-flex;
            align-items: center;
            padding: 8px 2px;
            justify-content: center;
            border-radius: $brdef;
            margin: 25px 0 0;
            font-size: .9em;
            &--fd {
                background-color: $bgblue80;
                color: $black;
            }
            svg {
                margin: 2px 5px 0 0;
            }

            &:hover {
                background-color: rgb(173 104 0 / 80%);
            }
        }
        &__dscrptn {
            font-size: 1rem;
            color: #716b72;
            width: $wmax;
            height: 30px;
            svg {
                display: none;
            }
            &--fd {
                color: $black;
            }
        }
        &__prgrss {
            width: $wmax;
            height: 20px;
            padding: 5px;
            border: 2px solid rgb(40 96 213 / 80%);
            border-radius: $brdef ;
        }
        &__prcnt {
            height: 100%;
            background-color: rgb(40 96 213 / 80%);
            border-radius: $brdef ;
        }
        &__ht {
            font-size: .7em;
            color: $fc-white;
            display: block;
            position: absolute;
            left: 50%;
            top: 12px;
            transform: translateX(-50%);
        }
        &--fd {
            background-color: $white;
        }
        &--tutorial {
            width: 100% !important;
            max-width: unset;
            height: unset !important;
            max-height: unset;
        }

        &:hover {
            box-shadow: inset 0px 0px 3px #ccc;
        }
    }
    &__tchrs {
        width: $wmax;
        &__lst {
            width: $wmax;
            @include flexunscen;
        }
        &__itm {
            background: #ece6ff;
            border-radius: 20px;
            padding: 20px;
            height: 203px;

            &:nth-child(even) {
                height: 200px;
            }
        }
        &__anchr {
            @include flexunscen;
            flex-wrap: wrap;
        }
        &__img {
            font-size: 90px;
            margin: 0 0 10px;
        }
        &__nm {
            width: $wmax;
            font-size: .9em;
            color: $fc-white;
        }
        &__dscrptn {
            margin: 0;
            font-size: .9em;
            color: $fc-white;
        }
    }
    &__tpcs {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        &--bg-01 {
            max-width: 1000px;
        }
        &__srvc {
            border-right: none;
            &__img {
                max-width: 100%;
                border-radius: $brdef;
            }
        }
        &__dscrptn {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            color: $white;
            border-radius: $brdef;
            flex-wrap: wrap;
            padding: 0 20px;
        }
    }
    &--bg-01 {
        border-top: 2px solid rgb(255 153 0);
        border-radius: 0 !important;
        background-color: #9100ff;
        margin: 20px 0 0;
        max-width: unset;
        padding: 30px 10px 20px !important;
        .actns__dscrptn__ttl {
            color: #FFF !important;
        }
        .actns__dscrptn {
            margin: auto;
        }
    }
    &--bg-02 {
        background-color: #eef5f5;
    }

    // Xs
    @media (max-width: 575px) {
        padding: 0 10px 20px;
        &__dscrptn {
            padding: 10px;
            &__ttl {
                &--dscrptn {
                    font-size: 1.2rem;
                }
            }
        }
        &__crds {
            justify-content: space-between !important;
        }
        &__itm {
            width: 49%;
            margin: 0 1px 7px 0;
            &__inf {
                padding: 0;
            }
            &__dscrptn {
                display: none;
            }
            &__bttn {
                background-color: rgb(14, 18, 28);
            }
            &__ht {
                display: none;
            }
            &--myPrgrss {
                margin: 0 auto;
                width: $wmax;
                height: 280px;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__itm {
            &--myPrgrss {
                width: 300px;
            }
        }
    }
    // Md
    @media (min-width: 768px) {
        padding: 40px 10px;
        &__crds {
            &--myPrgrss {
                padding: 0 20px;
            }
        }
        &__dscrptn {
            &__ttl {
                font-size: 1.4em;
            }
        }
        &__itm {
            &__img {
                &--myPrgrss {
                    max-width: unset;
                    width: calc(100% + 20px);
                    margin: -10px -10px 0;
                    border-radius: $brdef $brdef 0 0;
                }
            }
            &__nm {
                &--tutorial {
                    margin: 15px 0;
                }
            }
            &__inf {
                height: 116px;
                &--myPrgrss {
                    width: $wmax;
                    height: unset;
                    justify-content: flex-end;
                }
            }
            &__dscrptn {
                &--myPrgrss {
                    display: none;
                }
            }
            &__bttn {
                &--myPrgrss {}
            }
            &--myPrgrss {
                width: $wmax;
                max-width: 500px;
                justify-content: space-between;
            }
            &--tutorial {
                text-align: left;
            }
        }
        &__tpcs {
            flex-wrap: nowrap;
            &__srvc {
                &__img {
                    max-height: 250px;
                    max-width: unset;
                    margin-right: 20px;
                }
            }
        }
    }
    // Lg
    @media (min-width: 991px) {
        &__itm {
            width: 23%;
            &__nm {
                &--myPrgrss {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    color: #FFF;
                }
            }
            &--fd {}
            &--myPrgrss {
                width: auto;
            }

            &:last-child {
                margin: 0;
            }
        }
        &__tpcs {
            padding: 20px 0 0;
            &__dscrptn {
                margin: 10px;
                padding: 10px 20px;
                font-size: 1.2em;
                flex-wrap: nowrap;
            }
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}

.df-t {
    .actns {
        &__crds {
            justify-content: space-between;
        }
    }
}