.Home {
    &__arrowDown {
        display: block;
        margin: -10px auto 0;
        font-size: 25px;
        color: #f4ebeb;
        &--seemore {
            margin: 0 auto -10px;
        }
    }
}
.hmBnnrs {
    position: relative;
    overflow-y: hidden;
    min-height: 58px;
    .swiper {
        padding: 0 0 35px;
        img {
            width: $wmax;
        }
    }
}

.swiper {
    padding: 0 0 35px;
}
.swiper-scrollbar {
    height: 0 !important;
}

.actns {
    padding: 20px 10px;
    &__dscrptn {
        position: relative;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto 50px;
        &__icn {
            display: inline-block;
            height: 100%;
            border-bottom: 3px solid $bc-white;
            padding: 5px 10px;
            font-size: 30px;
            svg {
                color: $fc-white;
                margin: 0 0px -7px 0;
            }
        }
        &__ttl {
            padding: 0 10px;
            font-size: 1em;
            font-weight: 600;
            color: $fc-white;
            p {
                margin: 0;
                font-size: .7em;
                color: $fc-white;
            }
            &--dscrptn {
                display: inline-block;
            }
        }
    }
    &__crds {
        @include flexcenuns;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        &--myPrgrss {
            justify-content: flex-start;
        }
    }
    &__itm {
        @include flexcencenwrap;
        box-sizing: border-box;
        min-height: 150px;
        height: 100%;
        width: 49%;
        background-color: $bg-box;
        border-radius: $brdef;
        padding: 10px;
        margin: 0 0px 10px 0;
        cursor: pointer;
        &__img {
            max-width: 100%;
            border-radius: $brdef;
            &--tutorial {
                max-width: 100%;
            }
        }
        &__nm {
            font-size: 1.1rem;
            color: $fc-white;
            text-transform: uppercase;
            font-weight: 700;
            margin: 10px 0;
            width: $wmax;
            &--fd {
                color: $black;
            }
        }
        &__inf {
            padding: 10px 0 0;
            width: $wmax;
            @include flexcencenwrap;
        }
        &__icn {
            display: none;
        }
        &__bttn {
            width: $wmax;
            background-color: $bg-box;
            color: $fc-white;
            display: inline-flex;
            align-items: center;
            padding: 8px 2px;
            justify-content: center;
            border-radius: $brdef;
            margin: 10px 0 0;
            font-size: .9em;
            &--fd {
                background-color: $bgblue80;
                color: $black;
            }
            svg {
                margin: 2px 5px 0 0;
            }

            &:hover {
                background-color: $bc-box;
            }
        }
        &__dscrptn {
            font-size: 1rem;
            color: $fc-white;
            width: $wmax;
            height: 30px;
            svg {
                display: none;
            }
            &--fd {
                color: $black;
            }
        }
        &__prgrss {
            width: $wmax;
            height: 20px;
            padding: 5px;
            border: 2px solid rgb(40 96 213 / 80%);
            border-radius: $brdef ;
        }
        &__prcnt {
            height: 100%;
            background-color: rgb(40 96 213 / 80%);
            border-radius: $brdef ;
        }
        &__ht {
            font-size: .8em;
            color: $fc-white;
            padding: 10px 0;
        }
        &--fd {
            background-color: $white;
        }
        &--myPrgrss {
        }
        &--tutorial {
            width: 100% !important;
            max-width: unset;
            height: unset !important;
            max-height: unset;
        }

        &:hover {
            box-shadow: inset 0px 0px 3px $bgblue80;
        }
    }
    &__tchrs {
        width: $wmax;
        &__lst {
            width: $wmax;
            @include flexunscen;
        }
        &__itm {
            background: $bg-box;
            border-radius: 20px;
            padding: 20px;

            &:nth-child(even) {
                height: 200px;
            }
        }
        &__anchr {
            @include flexunscen;
            flex-wrap: wrap;
        }
        &__img {
            width: 90px;
            height: 90px;
            border: 2px solid #ccc;
            border-radius: 50%;
            margin: 0 0 10px;
        }
        &__nm {
            width: $wmax;
            font-size: .9em;
            color: $fc-white;
        }
        &__dscrptn {
            margin: 0;
            font-size: .9em;
            color: $fc-white;
        }
    }
    &__tpcs {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        &__srvc {
            border-right: none;
            padding: 10px;
            &__img {
                max-width: 100%;
                border-radius: $brdef;
            }
        }
        &__dscrptn {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            color: $white;
            border-radius: $brdef;
            flex-wrap: wrap;
            padding: 0 20px;
        }
    }
    &--bg-01 {
        background-color: $bg-box;
    }
    &--bg-02 {
        background-color: #eef5f5;
    }

    // Xs
    @media (max-width: 575px) {
        &__dscrptn {
            padding: 10px;
            margin: 0 0 20px;
        }
        &__crds {
            justify-content: space-between !important;
        }
        &__itm {
            width: 49%;
            &__inf {
                padding: 0;
            }
            &__dscrptn {
                display: none;
            }
            &__bttn {
                background-color: rgb(14, 18, 28);
            }
            &--myPrgrss {
                margin: 0 auto;
                width: $wmax;
                height: 330px;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__itm {
            margin: 0 5px 5px 0;
            &--myPrgrss {
                width: 300px;
            }
        }
    }
    // Md
    @media (min-width: 768px) {
        padding: 40px 10px;
        &__crds {
            &--myPrgrss {
                padding: 0 20px;
            }
        }
        &__dscrptn {
            &__ttl {
                font-size: 1.4em;
            }
        }
        &__itm {
            &__img {
                &--myPrgrss {
                    //width: 30%;
                    border-radius: $brdef;
                }
            }
            &__nm {
                &--myPrgrss {
                    //width: 70%;
                    // height: 40px;
                }
                &--tutorial {
                    margin: 15px 0;
                }
            }
            &__inf {
                height: 116px;
                &--myPrgrss {
                    width: $wmax;
                    height: unset;
                    justify-content: flex-end;
                    padding: 0;
                }
            }
            &__dscrptn {
                &--myPrgrss {
                    display: none;
                }
            }
            &__bttn {
                &--myPrgrss {
                    //margin: 10px 10px 10px 0;
                }
            }
            &--myPrgrss {
                width: $wmax;
                max-width: 500px;
                justify-content: space-between;
            }
            &--tutorial {
                text-align: left;
            }
        }
        &__tpcs {
            flex-wrap: nowrap;
            &__srvc {
                &__img {
                    max-height: 250px;
                    max-width: unset;
                    margin-right: 20px;
                }
            }
        }
    }
    // Lg
    @media (min-width: 991px) {
        &__itm {
            width: 24%;
            &__nm {
                &--myPrgrss {
                    position: absolute;
                    top: 30px;
                    left: 0;
                }
            }
            &--fd {
            }
            &--myPrgrss {
                width: auto;
            }
        }
        &__tpcs {
            padding: 20px 0 0;
            &__dscrptn {
                margin: 10px;
                padding: 10px 20px;
                font-size: 1.2em;
                flex-wrap: nowrap;
            }
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}

.df-t {
    .actns {
        &__crds {
            justify-content: center;
        }
    }
}