.insttcnl {
    padding: 40px 10px;
    &__txt {
        max-width: 1000px;
        color: #716b72;
        text-align: left;
        margin: auto;
        p {
            margin: 50px 0;
            text-indent: 2rem;
        }
    }
}

// DarkMode
body.dark-mode {
    .insttcnl {
        &__txt {
            p {
                color: $white;
            }
        }
    }
}
