.insttcnl {
    padding: 0 10px;
    &__txt {
        max-width: 1200px;
        color: $fc-white;
        text-align: left;
        margin: auto;
        p {
            margin: 50px 0;
        }
    }
}