.lgn {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px 10px;
    border-radius: $brdef;
    background-size: cover;
    &__frm {
        text-align: left;
        width: 400px;
        padding: 10px;
        border-radius: $brdef;
        svg {
            margin: 7px 10px 0 0;
        }
    }
    &__flst {
        border: none;
        padding: 10px 0;
        position: relative;
        font-size: .9em;
        legend {
            text-align: left;
            color: #716b72;
        }
        &--optns {
            @include flexunscen;
            flex-wrap: wrap;
        }
        &__rtrn {
            @include warn;
        }
    }
    &__inpt {
        @include input;
        border-bottom: 1px solid transparent;
        border-radius: 0;
        animation: 0.2s;
        &--rcvr {
            margin: 0 0 10px;
        }
        &--warn {
            position: absolute;
            right: 0px;
            top: 12px;
            color: $bgdarred;
        }
        &:active,
        &:hover {
            border-color: rgb(255 153 0);
        }
    }
    &__rcvr {
        text-align: center;
        width: $wmax;
        padding: 10px 0;
        font-size: .8em;
        text-decoration: underline;
        color: $cblue80;
    }
    &__snd {
        width: $wmax;
        text-align: center;
        border: none;
        background-color: rgb(255 153 0);
        padding: 10px 0;
        color: $white;
        border-radius: $brdef ;
        &--rcvr {
            margin: 0 0 10px;
        }
    }
}