.lgn {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: $brdef ;
    background-size: cover;
    &__frm {
        text-align: left;
        width: 400px;
        padding: 10px;
        background-color: $bg-box;
        border-radius: $brdef;
        svg {
            margin: 7px 0 0 0;
        }
    }
    &__flst {
        border: none;
        padding: 10px 0;
        position: relative;
        font-size: .9em;
        legend {
            color: $fc-white;
        }
        &--optns {
            @include flexunscen;
            flex-wrap: wrap;
        }
        &__rtrn {
            @include warn;
        }
    }
    &__inpt {
        @include input;
        &--rcvr {
            margin: 0 0 10px;
        }
        &--warn {
            position: absolute;
            right: 0px;
            top: 12px;
            color: $bgdarred;
        }
    }
    &__rcvr {
        text-align: center;
        width: $wmax;
        padding: 10px 0;
        margin: 10px 0 0;
        font-size: .8em;
        text-decoration: underline;
        color: $cblue80;
    }
    &__snd {
        width: $wmax;
        text-align: center;
        border: none;
        background-color: $bgblue80;
        padding: 10px 0;
        color: $white;
        border-radius: $brdef ;
        &--rcvr {
            margin: 0 0 10px;
        }
    }
}