.lgn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: $brdef;
    background-size: cover;
    &__image {
        width: 50%;
        background-color: #ece6ff;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 40px 10px;
        &Box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            max-width: 600px;
            flex-wrap: wrap;
        }
        &__lock {
            font-size: 10rem;
            width: 100%;
        }
        &__title {
            width: 100%;
            margin: 5px 0;
        }
    }
    &__frm {
        width: 50%;
        display: flex;
        padding: 40px 10px;

        &Box {
            flex-wrap: wrap;
            text-align: left;
            padding: 20px;
            margin-left: -40px;
            border-radius: $brdef;
            display: flex;
            justify-content: flex-start;
            max-width: 400px;
            background-color: $white;
            box-shadow: 0 0 10px $gray;
        }
        svg {
            margin: 7px 10px 0 0;
        }
    }
    &__flst {
        border: none;
        padding: 10px 0;
        position: relative;
        font-size: .9em;
        width: 100%;
        legend {
            text-align: left;
            color: #716b72;
        }
        &--optns {
            @include flexunscen;
            flex-wrap: wrap;
        }
        &__rtrn {
            @include warn;
        }
    }
    &__inpt {
        @include input;
        border-bottom: 1px solid transparent;
        border-radius: 0;
        animation: 0.2s;
        &--rcvr {
            margin: 0 0 10px;
        }
        &--warn {
            position: absolute;
            right: 0px;
            top: 12px;
            color: $bgdarred;
        }
        &:active,
        &:hover {
            border-color: $orange;
        }
    }
    &__rcvr {
        text-align: center;
        width: $wmax;
        padding: 10px 0;
        font-size: .8em;
        text-decoration: underline;
        color: $cblue80;
    }
    &__snd {
        width: $wmax;
        text-align: center;
        border: none;
        background-color: $orange;
        padding: 10px 0;
        color: $white;
        border-radius: $brdef;
        cursor: pointer;
        &[disabled] {
            background-color: #efefef !important;
            &:hover {
                cursor:  not-allowed;
            }
        }
        &--rcvr {
            margin: 0 0 10px;
        }
    }
    &__rgs {
        width: $wmax;
        text-align: center;
        border: none;
        border: 1px solid $orange;
        background-color: $white;
        padding: 10px 0;
        color: $orange;
        margin: 10px 0;
        border-radius: $brdef;
        cursor: pointer;
        &--rcvr {
            margin: 0 0 10px;
        }
    }
    &__invalid {
        border: 1px solid #e7e5d8;
        border-left: 5px solid #f1f19c;
        padding: 20px;
        background-color: #ebeba46e;
        font-size: 12px;
        border: none;
        padding: 5px 10px;
        width: 100%;
        button {
            border: none;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: unset;
            svg {
                font-size: 20px;
                margin: 0px 10px 0 0;
            }
        }
    }

    @media (max-width: 576px) {
        flex-wrap: wrap;
        &__image {
           display: none;
        }
        &__frm {
            width: 100%;
            &Box {
                margin: 0;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}