.mttr {
    padding: 10px;
    &__wrppr {
        max-width: 1200px;
        position: relative;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__wrpprAll {
        max-width: 1200px;
        position: relative;
        margin: auto;
        padding: 10px;
        display: flex;
        background-color: $bg-box;
        border-radius: $brdef;
    }
    &__rltd {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $bg-box;
        padding: 20px;
        border-radius: $brdef ;
        width: 100%;
        height: fit-content;
        color: $white;
        &__ttl {
            font-size: 1.2em;
            padding: 10px 0;
            margin: 0 0 10px;
            svg {
                font-size: 1.2em;
                margin: 0 0 -4px 0;
            }
        }
        &__anchr {
            padding: 10px;
            border: 1px solid $bc-box;
            border-radius: $brdef ;
            margin: 3px 0;
            color: $white;
            width: $wmax;
        }
        &__img {
            max-width: $wmax;
            border-radius: $brdef;
        }
        &__bttn {
            border: 1px solid $bc-box;
            border-radius: $brdef ;
            padding: 5px 10px;
            white-space: nowrap;
            color: $white;
            display: block;
            margin: 5px 0;
            svg {
                margin-right: 10px;
            }
        }
    }
    &__cntnt {
        width: 100%;
    }
    &__tgs {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        &__ttl {
            width: $wmax;
            padding: 10px 0;
            color: $white;
            svg {
                margin-right: 10px;
            }
        }
        &__anchr {
            margin: 0 10px 10px 0;
            background-color: $bg-white80;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: $brdef ;
        }
    }
    &__img {
        max-width: $wmax;
        &__crdts {
            font-size: .7em;
            text-align: center;
        }
    }
    &__dtls {
        line-height: 3px;
        font-size: .9em;
        margin: 0 0 25px;
        &__writer {}
        &__date {}
        &__lastUpdate {}
    }
    &__prmryWrp {
        max-width: 1200px;
        margin: 0 auto;
        background-color: $bg-box;
        color: $white;
        border-radius: $brdef ;
        text-align: left;
        margin: 0px auto 20px;
        padding: 30px;
        box-sizing: border-box;
        &--cntnt {
            line-height: 25px;
            text-align: left;
            .img {
                max-width: $wmax;
            }
            .wrnPrgrph {
                border: 1px solid #e7e5d8;
                border-left: 5px solid #f1f19c;
                padding: 20px;
                background-color: #ebeba46e;
                &::before {
                    content: "Observação";
                    display: block;
                }
            }
        }
    }
    &__prmryTtl {
        color: $white;
        font-size: 1.3em;
        text-transform: uppercase;
        margin: 15px 0;
    }
    &__scndtyTtl {
        color: $white;
        margin: 0 0 30px;
        font-size: 1.1rem;
    }
    &__trcryTtl {
        background-color: $bggray;
        padding: 10px;
        border-radius: $brdef;
        white-space: nowrap;
        color: $fc-white;
        margin: 0 0 10px;
        width: fit-content;
    }
    &__wrn {
        display: none;
    }
    &__actvty {
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        text-align: left;
        &__bttn {
            padding: 10px 20px;
            background-color: #ebeaea;
            border-radius: $brdef;
            svg {
                margin: 0 10px 0 0;
            }
        }
    }
    &__spprt {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.1em;
        text-align: left;
        border-left: 3px solid;
        &__lst {
            list-style-type: armenian;
        }
    }
    &__srch {
        width: $wmax;
        padding: 10px 0 30px;
        text-align: left;
        &__inpt {
            @include input;
        }
    }
    &__allMttrs {
        display: flex;
        width: $wmax;
        flex-wrap: wrap;
        color: $fc-white;
    }
    &__itm {
        @include flexcenuns;
        margin: 0 0 10px;
        width: $wmax;
        padding: 10px;
        border-radius: $brdef;
        cursor: pointer;
        &__img {
            width: 90px;
            border-bottom: 3px solid $bc-white;
            padding: 0 0 20px;
        }
        &__ttl {
            margin: 0 0 0 20px;
            color: $fc-white;
            font-size: .9em
        }
        &__edt {
            @include flexwrap;
            justify-content: flex-end;
            padding: 10px 0;
            width: $wmax;
            &__anchr {
                padding: 3px;
                border: 1px solid $bc-gray;
                color: $bgwhite;
                border-radius: $brdef;
                white-space: nowrap;
                width: 40px;
                height: 30px;
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                  background-color: $bg-box;
                }
            }
        }

        &:hover {
            background-color: $bg-main;
        }
    }
    &__workout {
        position: fixed;
        right: 6%;
        bottom: 50px;
        width: 70px;
        height: 70px;
        padding: 10px;
        box-shadow: inset 0px 0px 3px #ccc;
        background-color: rgba(255, 255, 255, 0.76);
        @include flexcencen;
        border-radius: $brdef ;
        svg {
            font-size: 3.5em;
            padding: 10px;
            box-shadow: inset 0px 0px 3px #ccc;
            border-radius: $brdef ;
        }
    }

    // Xs
    @media (max-width: 575px) {
        &__prmryWrp {}
        &__wrn {
            display: block;
            padding: 10px;
            background-color: #300aff2b;
            margin-bottom: 10px;
            border-radius: $brdef ;
            width: fit-content;
            margin: 10px auto;
        }
        &__itm {
            width: $wmax;
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__wrappr {
            padding: 15px 10px 10px;
        }
    }
    // Md
    @media (min-width: 768px) {
    }
    // Lg
    @media (min-width: 991px) {
        &__cntnt {
            width: 68%;
        }
        &__rltd {
            width: 30%;
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
