.mttr {
    padding: 40px 10px;
    &__wrppr {
        max-width: 1000px;
        position: relative;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__wrpprAll {
        max-width: 1000px;
        position: relative;
        margin: auto;
        padding: 50px 10px 10px;
        display: flex;
        border-radius: $brdef;
    }
    &__rltd {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        border: 2px solid $orange;
        width: 100%;
        padding: 20px;
        border-radius: $brdef;
        margin: 10px 0;
        height: fit-content;
        color: $white;
        &__ttl {
            font-size: 1.2em;
            padding: 10px 0;
            margin: 0 0 10px;
            color: #716b72;
            svg {
                font-size: 1.2em;
                margin: 0 0 -4px 0;
            }
        }
        &__anchr {
            border-radius: $brdef ;
            margin: 3px 0;
            color: $white;
            width: $wmax;
        }
        &__img {
            border-radius: $brdef;
            max-width: 300px;
            margin: auto;
            display: block;
        }
        &__bttn {
            border-radius: $brdef;
            padding: 5px 10px;
            white-space: nowrap;
            color: $white;
            display: block;
            margin: 5px 0;
            background-color: $orange;
            svg {
                margin: 0 10px -2px 0;
            }
        }
    }
    &__cntnt {
        width: 100%;
    }
    &__tgs {
        max-width: 1000px;
        padding: 30px 0;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        &__ttl {
            width: $wmax;
            padding: 10px 0;
            color: #716b72;
            svg {
                margin-right: 10px;
            }
        }
        &__anchr {
            margin: 0 10px 10px 0;
            padding: 5px 10px;
            color: $orange;
            border: 1px solid $orange;
            border-radius: $brdef ;
        }
    }
    &__img {
        max-width: calc($wmax  + 40px);
        border-radius: 10px;
        margin: 0 -20px;
        width: calc($wmax  + 40px);
        border-radius: unset;
        &__crdts {
            font-size: .7em;
            text-align: center;
            color: #716b72;
            margin: 0;
        }
    }
    &__dtls {
        line-height: 3px;
        font-size: .9em;
        margin: 0 0 25px;
        color: #716b72;
        margin: 20px auto;
        &__wrtr,
        &__date,
        &__lstpdt {
            color: #716b72;
        }
    }
    &__hightlight {
        position: relative;
    }
    &__prmryWrp {
        max-width: 1200px;
        margin: 0 auto;
        color: $white;
        border-radius: $brdef ;
        text-align: left;
        margin: 0px auto 20px;
        padding: 0 0 20px;
        box-sizing: border-box;
        &--cntnt {
            line-height: 25px;
            text-align: left;
            color: #716b72;
            padding: 0 0 20px;
            max-width: 1000px;
            margin: auto;
            .img {
                max-width: $wmax;
                margin: 40px auto;
                display: block;
            }
            .wrnPrgrph {
                border: 1px solid #e7e5d8;
                border-left: 5px solid #f1f19c;
                padding: 20px;
                background-color: #ebeba46e;
                &::before {
                    content: "Observação";
                    display: block;
                }
            }
            p {
                margin: 32px 0;
            }
        }
        &.txt-cntr {
            max-width: 1000px;
            margin: auto;
            background-color: #ece6ff;
        }
    }
    &__prmryTtl {
        color: #716b72;
        font-size: 1.3em;
        text-transform: uppercase;
        max-width: 1000px;
        margin: 0 0 20px;
        position: absolute;
        bottom: 16px;
        width: calc($wmax - 32px);
        left: 16px;
    }
    &__scndtyTtl {
        color: #716b72;
        margin: 30px 0;
        font-size: 1.4rem;
        max-width: 1000px;
    }
    &__trcryTtl {
        border: 1px solid $orange;
        display: none;
        padding: 10px;
        border-radius: $brdef;
        white-space: nowrap;
        color: $orange;
        margin: 0 0 10px;
        text-align: center;
    }
    &__wrn {
        display: none;
    }
    &__actvty {
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        text-align: left;
        color: #716b72;
        &__bttn {
            padding: 10px 20px;
            background-color: #1000ff;
            border-radius: $brdef;
            color: $white;
            display: block;
            text-align: center;
            svg {
                margin: 0 10px 0 0;
            }
        }
    }
    &__spprt {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1em;
        text-align: left;
        padding-top: 20px;
        border-top: 3px solid $orange;
        color: #716b72;
        &__lst {
            list-style-type: armenian;
            p {
                color: #716b72;
            }
        }
    }
    &__srch {
        width: $wmax;
        padding: 10px 0 30px;
        text-align: left;
        .prfl__inf__itm {
            width: $wmax;
        }
        &__inpt {
            @include input;
        }
    }
    &__allMttrs {
        display: flex;
        width: $wmax;
        flex-wrap: wrap;
        color: $fc-white;
    }
    &__itm {
        @include flexcenuns;
        margin: 0 0 10px;
        width: $wmax;
        padding: 10px;
        border-radius: $brdef;
        cursor: pointer;
        box-shadow: 0 0 10px $gray;
        &__img {
            width: 90px;
            border-bottom: 3px solid $orange;
            padding: 0 0 20px;
        }
        &__ttl {
            margin: 0 0 0 20px;
            color: #716b72;
            font-size: .9em;
            font-weight: 700
        }
        &__edt {
            @include flexwrap;
            justify-content: flex-end;
            padding: 10px 0;
            width: $wmax;
            &__anchr {
                padding: 3px;
                border: 1px solid $bc-gray;
                color: $bgwhite;
                border-radius: $brdef;
                white-space: nowrap;
                width: 40px;
                height: 30px;
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                    background-color: $orange;
                    color: $white;
                }
            }
        }

        &:hover {
            box-shadow: 0 0 20px $gray;
            width: calc(100% - 50px);
            margin: 0 auto 10px;
        }
    }
    &__workout {
        position: fixed;
        right: 6%;
        bottom: 50px;
        width: 70px;
        height: 70px;
        padding: 10px;
        box-shadow: inset 0px 0px 3px $gray;
        background-color: rgba(255, 255, 255, 0.76);
        @include flexcencen;
        border-radius: $brdef ;
        display: none;
        svg {
            font-size: 3.5em;
            padding: 10px;
            box-shadow: inset 0px 0px 3px $gray;
            border-radius: $brdef ;
        }
    }

    // Xs
    @media (max-width: 575px) {
        &__prmryWrp {}
        &__scndtyTtl {
            margin: 20px auto;
        }
        &__prmryTtl {
            left: 0;
            width: $wmax;
        }
        &__wrn {
            display: block;
            padding: 10px;
            background-color: #300aff2b;
            margin-bottom: 10px;
            border-radius: $brdef ;
            width: fit-content;
            margin: 10px auto;
        }
        &__itm {
            width: $wmax;

            &:hover {
                width: 100%;
            }
        }
        &__dtls__wrtr,
        &__dtls__date {
            line-height: 25px;
        }
        &__rltd {
            flex-wrap: wrap;
            &__ttl {
                width: 100%;
                display: block;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__wrappr {
            padding: 15px 10px 10px;
        }
    }
    // Md
    @media (min-width: 768px) {
    }
    // Lg
    @media (min-width: 991px) {
        &__rltd {
            max-width: 1000px;
            margin: 10px auto;
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}

// DarkMode
body.dark-mode {
    .mttr {
        &__img__crdts {
            color: $white;
        }
    }
}
