.moderate {
    padding: 40px 20px;
    &__body {}
    &__title {
        color: #716b72;
        font-size: 1.3em;
        text-transform: uppercase;
        max-width: 1000px;
        margin: 50px auto 30px;
        text-align: left;
    }
    &__scope {
        line-height: 25px;
        text-align: left;
        color: #716b72;
        max-width: 1000px;
        margin: auto;
        &--title {
            font-size: 2rem;
            margin: 20px auto;
        }
        &--subTitle {
            font-size: 1.3rem;
            margin: 20px auto;
        }
    }
    &__author {
        padding: 30px 0;
        text-align: left;
        max-width: 1000px;
        margin: auto;
        &__name {
            color: #716b72;
            line-height: 25px;
        }
    }
    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    &__button {
        width: 120px;
        img {
            margin-right: 10px;
        }
    }
    &__true {
        border: none;
        border-radius: $brdef;
        background-color: $orange;
        height: 40px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: $white;
        padding: 10px;
        cursor: pointer;
        img {
            filter: invert(1);
            height: 100%;
        }
    }
    &__false {
        border: none;
        border-radius: $brdef;
        background-color: $purple;
        height: 40px;
        display: flex;
        align-items: center;
        color: $white;
        padding: 10px;
        cursor: pointer;
        img {
            filter: invert(1);
            height: 100%;
        }
    }
    &__modal {
        height: 230px;
        background-color: $white;
        max-width: 90%;
        width: 300px;
        border-radius: $brdef;
        padding: 20px;
        position: absolute  ;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px $gray;
    }
    &__feedback {
        @include flexwrap;
        justify-content: center
    }
    &__input {
        @include input;
        font-family: inherit;
        font-size: 1rem;
        width: 100%;
    }
    &__submit {
        border: none;
        border-radius: $brdef;
        background-color: $orange;
        height: 40px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: $white;
        padding: 10px 20px;
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        cursor: pointer;
    }
}