.ntfct {
    padding: 10px;
    &__wrppr {
        max-width: 1200px;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: $bg-box;
        padding: 10px;
        border-radius: $brdef ;
    }
    &__cntnt {
        width: $wmax;
        text-align: left;
        li {
            padding: 20px 10px 15px;
            margin: 0 0 10px;
            border-bottom: 2px solid $bc-gray;
            span {
                font-size: 1.2em;
                color: $fc-white;
            }
            svg {
                margin-right: 10px;
                color: $cblue80;
            }
            p {
                color: $fc-white;
            }
        }
    }
}