.prfl {
    &__wrpp {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        padding: 0 10px;
        flex-wrap: wrap;
    }
    &__bg {
        position: relative;
        width: 100%;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    &__dt {
        position: relative;
        top: -70px;
        width: 97%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(239 239 239);
    }
    &__img {
        img {
            width: 100%;
            border-radius: 10px;
        }
        &--myPrfl {
            max-width: unset;
        }
    }
    &__inf {
        &__lst {
            text-align: left;
        }
        &__itm {
            padding: 10px 0;
            svg {
                margin-right: 10px;
                color: #3a3939;
            }
            &--slct {
                div {
                    border: none;
                    border-radius: 10px;
                    font-size: 1em;
                }
            }
            &--nm {
                font-size: 1.2em;
                font-weight: 700;
                padding: 15px 0 5px;
            }
            &--usrnm {
                padding: 0px 0 10px;
            }
            &--occptn {
                padding: 20px 0;
            }
        }
        &__edtr {
            background-color: rgb(134, 134, 134);
            padding: 10px 10px;
            margin: 20px 0;
            border-radius: 10px;
            text-align: center;
            a {
                color: #fff;
            }
        }
        &__flr {
            width: 100%;
            color: rgba(0, 0, 0, 0.7);
            border-left: 4px solid rgba(0, 0, 0, 0.7);
            padding: 10px;
            display: block;
            svg {
                margin-right: 10px;
            }
        }
        &--upld {
            &__wrppr {}
            &__bttn {
                padding: 10px;
                background-color: rgb(186, 18, 133);
                border: none;
                border-radius: 10px;
                color: #fff;
                svg {
                    color: #fff;
                }
            }
            &__bttnProfile {
                padding: 10px;
                border: none;
                border-radius: 10px;
                color: #000;
                svg {
                    color: #000;
                }
            }
            &__bttnDwn {
                margin: 0 5px 0 0;
                padding: 10px;
                background-color: rgb(186, 18, 133);
                border: none;
                border-radius: 10px;
                color: #fff;
                svg {
                    color: #fff;
                }
            }
            &__img {
                img {
                    padding: 10px 0;
                    border-radius: 15px;
                }
            }
        }
    }
    &__updts {
        padding: 10px;
        width: 97%;
        margin: 0 auto;
        background-color: rgb(239 239 239);
        border-radius: 10px;
    }
    &__inpt {
        padding: 10px;
        border-radius: 10px;
        border: none;
        width: 100%;
        font-size: 1em;
        font-weight: 500;
    }

    // Xs
    @media (max-width: 575px) {
        &__wrpp {
            flex-wrap: wrap;
        }
        &__bg {

        }
        &__dt {
            position: relative;
        }
        &__updts {
            padding: 10px;
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__wrpp {
            padding: 0 10px;
        }
    }
    // Md
    @media (min-width: 768px) {
        &__bg {
            width: 100%;
        }
        &__dt {
            padding: 10px 20px;
            width: 300px;
            top: 70%;
            left: 10px;
            position: absolute;
        }
        &__updts {
            padding: 10px;
            width: 100%;
            margin: 10px 10px 10px 320px;
        }    
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}

.actns {
    &__crds {
        &--myPrfl {
            padding: 0;
        }
    }
    &__itm {
        &__img {
            &--myPrfl {
                height: 100%;
                width: 100%;
                border-radius: 10px;
                grid-area: img;
            }
        }
        &__nm {
            &--myPrfl {
                width: 80%;
                grid-area: nm;
            }
        }
        .description {
            width: 80%;
            grid-area: dsc;
        }
        &__inf {
            &--myPrfl {
                grid-area: inf;
            }
        }
        &__ht {}
        &__prgss {
            &--myPrfl {}
        }
        &__bttn {
            &--myPrfl {
                margin-top: 5px;
                padding: 5px 2px;
            }
        }
        &--myPrfl {
            width: 100%;
            max-width: unset;
            border: none;
            padding: 20px;
            margin: 10px 0;
            display: grid;
            text-align: left;
            font-size: .9em;
            column-gap: 10px;
            height: unset;
            grid-template: "img nm nm" 30px
            "img dsc dsc" auto
            "inf inf inf" 100px
            / 40% 60%;
            
            &:hover {
                height: unset;
            }
        }
    }
        
    // Xs
    @media (max-width: 575px) {
    }
    // Sm
    @media (min-width: 576px) {
        
    }
    // Md
    @media (min-width: 768px) {
        &__itm {
            &--myPrfl {
                height: auto;
                grid-template: "img nm nm" 30px
                "img dsc dsc" auto
                "inf inf inf" 100px
                / 20% 80%;
            } 
        }
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}