.prfl {
    &__wrpp {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 0 0 10px;
        border-radius: $brdef;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    &__bg {
        position: relative;
        width: $wmax;
        img {
            width: $wmax;
            max-width: $wmax;
        }
    }
    &__dt {
        position: relative;
        top: -70px;
        width: 97%;
        margin: 0 auto;
        padding: 10px;
        border-radius: $brdef;
        background-color: $bg-box;
    }
    &__img {
        img {
            width: 200px;
            border-radius: $brdef;
        }
        &--myPrfl {
            max-width: unset;
        }
    }
    &__inf {
        &__lst {
            text-align: left;
        }
        &__itm {
            padding: 10px 0;
            color: $fc-white;
            svg {
                margin-right: 10px;
                color: $fc-white;
            }
            &--slct {
                div {
                    border: none;
                    border-radius: $brdef;
                    font-size: 1em;
                }
            }
            &--nm {
                font-size: 1.2em;
                font-weight: 700;
                padding: 15px 0 5px;
            }
            &--usrnm {
                padding: 0px 0 10px;
            }
            &--occptn {
                padding: 20px 0;
            }
        }
        &__edtr {
            background-color: $bgblue80;
            padding: 10px 10px;
            margin: 20px 0;
            border-radius: $brdef;
            text-align: center;
            a {
                color: $white;
            }
        }
        &__flr {
            width: $wmax;
            color: $fc-white;
            border-left: 4px solid $bc-white;
            padding: 10px;
            display: block;
            svg {
                margin-right: 10px;
            }
        }
        &--upld {
            &__wrppr {}
            &__bttn {
                padding: 10px;
                background-color: rgb(186, 18, 133);
                border: none;
                border-radius: $brdef ;
                color: $white;
                svg {
                    color: $white;
                }
            }
            &__bttnProfile {
                padding: 10px;
                border: none;
                border-radius: $brdef ;
                color: $black;
                svg {
                    color: $black;
                }
            }
            &__bttnDwn {
                margin: 0 5px 0 0;
                padding: 10px;
                background-color: rgb(186, 18, 133);
                border: none;
                border-radius: $brdef ;
                color: $white;
                svg {
                    color: $white;
                }
            }
            &__img {
                img {
                    padding: 10px 0;
                    border-radius: 15px;
                }
            }
        }
    }
    &__updts {
        padding: 10px;
        width: 97%;
        margin: 0 auto;
        background-color: $bg-box;
        border-radius: $brdef ;
    }
    &__nav {
        width: 100%;
        padding-bottom: 20px;
        &__list {
            display: flex;
        }
        &__item {

        }
        &__button {
            border: none;
            font-size: 1.1em;
            padding: 10px;
            color: $fc-white;
            background-color: $bgunset;
            cursor: pointer;
            &--active {
                border-bottom: 3px solid $bc-white;
            }
        }
        &__section {
            display: none;
            &--active {
                display: block;
            }
            .actns {
                padding: 0;
            }
        }
    }
    &__inpt {
        padding: 10px;
        border-radius: $brdef ;
        border: none;
        width: $wmax;
        font-size: 1em;
        font-weight: 500;
    }

    // Xs
    @media (max-width: 575px) {
        &__wrpp {
            flex-wrap: wrap;
        }
        &__bg {

        }
        &__dt {
            position: relative;
        }
        &__updts {
            padding: 10px;
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__wrpp {
           //padding: 0 10px;
        }
    }
    // Md
    @media (min-width: 768px) {
        &__bg {
            width: $wmax;
        }
        &__dt {
            padding: 10px 20px;
            width: 300px;
            top: 70%;
            left: 10px;
            position: absolute;
        }
        &__updts {
            padding: 10px;
            width: $wmax;
            margin: 10px 10px 10px 320px;
            min-height: 400px;
        }
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}

.actns {
    &__crds {
        &--myPrfl {
            padding: 0;
        }
    }
    &__itm {
        &__img {
            &--myPrfl {
                height: 100px;
                max-width: 100px;
                border-radius: $brdef;
                grid-area: img;
            }
        }
        &__nm {
            &--myPrfl {
                width: 80%;
                grid-area: nm;
            }
        }
        .description {
            width: 80%;
            grid-area: dsc;
            display: none;
        }
        &__inf {
            &--myPrfl {
                grid-area: inf;
                height: unset;
                justify-content: flex-end;
            }
        }
        &__ht {}
        &__prgss {
            &--myPrfl {}
        }
        &__bttn {
            &--myPrfl {
                margin-top: 5px;
                padding: 0px 2px;
            }
        }
        &--myPrfl {
            width: $wmax;
            max-width: unset;
            border: none;
            padding: 10px 20px;
            margin: 10px 0;
            display: grid;
            text-align: left;
            font-size: .9em;
            column-gap: 10px;
            height: unset;
            grid-template: "img nm inf" 100px / 20% 40% 40%;
            min-height: unset;

            .description {
                display: none;
            }

            &:hover {
                height: unset;
            }
        }
    }

    // Xs
    @media (max-width: 575px) {
    }
    // Sm
    @media (min-width: 576px) {

    }
    // Md
    @media (min-width: 768px) {
        &__itm {
            &--myPrfl {
                height: auto;
            }
        }
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
