.qz {
    position: relative;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    &__backdrop {
        width: 50%;
        background-color: #ece6ff;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
    .qzPls {
        position: absolute;
        right: -40px;
        top: -30px;
        width: 100px;
        height: 100px;
        background-size: cover;
        z-index: 20;
        &--active {
            display: block;
        }
        img {
            width: $wmax;
        }
    }
    .Progress {
        height: 15px;
        width: 90%;
        border: 2px solid #9100ff;
        border-radius: 20px;
        position: relative;
        max-width: 1200px;
        &__made {
            position: relative;
            display: block;
            width: 30%;
            padding: 3px;
            height: 100%;
            font-size: .0em;
            background-color: #9100ff;
            border-radius: $brdef;
            text-align: center;
            transition: width 2s;
            &__number {
                color: $white;
            }

            &:after {
                position: absolute;
                content: "";
                top: -5px;
                right: 0;
                width: 20px;
                height: 20px;
                background-color: orange;
                border-radius: 50%;
            }
        }
    }
    .Question {
        position: relative;
        max-width: 1000px;
        width: $wmax;
        border-radius: 20px;
        box-shadow: 0 0 10px #ccc;
        background-color: $white;
        margin: 200px auto 50px;
        padding: 20px 30px;
        &__congrats {
            background-image: url("../../components/images/gliter.gif");
            width: $wmax;
            height: 100%;
        }
        &__fineshed {
            line-height: 30px;
            color: $white;
            p {
                margin: 40px auto;
            }
            svg {
                margin: 0 5px -2px;
            }
            &__anchor {
                padding: 5px;
                background-color: $green;
                border-radius: $brdef;
                white-space: nowrap;
                color: #716b72;
                margin: 0 5px;
            }
        }
        &__exit {
            width: 8%;
            text-align: left;
            color: #716b72;
            svg {
                margin-bottom: -4px;
                font-size: 1.5em;
                color: #716b72;
            }
        }
        &__progress {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: $wmax;
            margin-bottom: 20px
        }
        &__info {
            @include flexcencen;
            width: $wmax;
            margin: 10px 0;
            position: relative;
            padding: 0 10px 0 0;
            border-radius: $brdef;
            &__icon {
                color: $fc-black;
                margin: 0 10px 0 0;
            }
            &__title {
                font-size: 1.6rem;
                padding: 20px;
                color: #716b72;
            }
        }
        &__content {
            width: $wmax;
        }
        &__paragraph {
            font-size: 1.2rem;
            line-height: 22px;
            color: #716b72;
            padding: 0 50px;
            text-align: center;
        }
        &__alternatives {
            width: $wmax;
            color: #716b72;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 30px 0;
            gap: 10px;
            &__option {
                font-size: 1.1rem;
                font-weight: 600;
                display: inline-flex;
                padding: 4px 10px;
                color: #716b72;
                border-radius: $brdef;
                cursor: pointer;
                width: 100%;
                box-shadow: 0 0 10px #ccc;
                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    
                    &:hover, &:active {
                        cursor: pointer;
                    }
                }
                &.selected {
                    background-color: #ece6ff;
                }
                [type="radio"] {
                    margin: 0 10px 0 0;
                    display: none;
                }
                &:hover {
                    box-shadow: 0 0 20px #ccc;
                }
            }
        }
        &__send {
            width: $wmax;
            display: flex;
            justify-content: space-around;
            padding: 0 0 20px;
            &__button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 85%;
                color: $fc-white;
                border: 1px solid rgba(220, 147, 13, 0.64);
                background-color: orange;
                text-decoration: none;
                margin: 0 10px 0 0;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 900;
                cursor: pointer;
                border-radius: 10px;
                &.next {
                    background-color: $bggreen80;
                    color: $fc-white;
                }
            }
            &__tip {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(84, 163, 213, 0.8);
                background-color: rgba(84, 138, 213, 0.3);
                width: 15%;
                border-radius: 10px;
                color: #716b72;;
                height: 40px;
                text-decoration: none;
                font-size: 1,1rem;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
                svg {
                    margin: 0 10px 0 0;
                }
            }
        }
        &__warn {
            width: $wmax;
            color: $fc-black;
            border-left: 4px solid $bc-black70;
            padding: 10px;
            display: block;
        }
        &__tutorial {}
    }

    // Xs
    @media (max-width: 575px) {
        padding: 0 10px;
        .Question {
            margin: 150px auto 50px;
            &__info {
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column-reverse;
                padding: 10px 0;
                &__about {
                    &__title {}
                    &__icon {}
                    &__desc {}
                }
                &__title {
                    font-size: 1.3rem;
                    padding: 0;
                }
            }
            &__paragraph {
                padding: 0;
                font-size: 1rem;
            }
            &__alternatives {
                flex-wrap: wrap;
                &__option {
                    font-size: 1rem;
                    justify-content: center;
                    width: 100%;
                }
            }
            &__send {
                &__button {
                    width: 75%;
                }
                &__tip {
                    width: 31%;
                }
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {
        // padding: 40px 10px;
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
