.qz {
    position: relative;
    min-height: 80vh;
    padding: 10px 10px;
    .qzPls {
        position: absolute;
        right: -40px;
        top: -30px;
        width: 100px;
        height: 100px;
        background-size: cover;
        z-index: 20;
        &--active {
            display: block;
        }
        img {
            width: $wmax;
        }
    }
    .Progress {
        height: 15px;
        width: 92%;
        border: 2px solid $bc-white;
        background-color: $bgwhite;
        border-radius: 20px;
        position: relative;
        max-width: 1200px;
        &__made {
            position: relative;
            display: block;
            width: 30%;
            padding: 3px;
            height: 100%;
            font-size: .0em;
            background-color: #00000082;
            border-radius: 20px;
            text-align: center;
            transition: width 2s;
            &__number {
                color: $white;
            }

            &:after {
                position: absolute;
                content: "";
                top: -5px;
                right: 0;
                width: 20px;
                height: 20px;
                background-color: $bgblue;
                border-radius: 50%;
            }
        }
    }
    .Question {
        background: $bgwhite95;
        position: relative;
        width: $wmax;
        max-width: 1200px;
        border-radius: $brdef;
        margin: 0 auto;
        padding: 15px 10px;
        &__congrats {
            background-image: url("../../components/images/gliter.gif");
            width: $wmax;
            height: 100%;
        }
        &__fineshed {
            line-height: 40px;
            &__anchor {
                padding: 5px;
                background-color: #00b500;
                border-radius: $brdef ;
                white-space: nowrap;
                color: $white;
            }
        }
        &__exit {
            width: 8%;
            svg {
                margin-bottom: -4px;
                font-size: 1.5em;
                color: rgba(0, 0, 0, 0.5098039216);
            }
        }
        &__progress {
            display: flex;
            align-items: center;
            width: $wmax;
            margin-bottom: 20px
        }
        &__info {
            @include flexcencen;
            width: $wmax;
            //background-color: $bgwhitealt;
            margin: 10px 0;
            position: relative;
            padding: 0 10px 0 0;
            border-radius: $brdef ;
            &__icon {
                color: #00000082;
                margin: 0 10px 0 0;
            }
            &__title {
                font-size: 1.6rem;
                padding: 20px;
                color: #4a4a4a;
            }
        }
        &__content {
            width: $wmax;
        }
        &__paragraph {
            font-size: 1.2rem;
            line-height: 22px;
            color: #4a4a4a;
            text-align: center;
        }
        &__alternatives {
            width: $wmax;
            color: #4a4a4a;
            text-align: center;
            padding: 20px 0;
            &__option {
                font-size: 1.1rem;
                font-weight: 600;
                display: inline-flex;
                margin: 0 10px 10px 0;
                padding: 4px 10px;
                border: 1px solid $bc-gray ;
                border-radius: $brdef ;
                label {
                    &:hover {
                        cursor: pointer;
                    }
                }
                &.selected {
                    background-color: #d9d9d9f0;
                }
                [type="radio"] {
                    margin: 0 10px 0 0;
                    display: none;
                }
            }
        }
        &__send {
            width: $wmax;
            display: flex;
            justify-content: space-around;
            padding: 20px 0;
            &__button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 75%;
                border: none;
                background-color: $bgblue80;
                color: $white;
                text-decoration: none;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
                border-radius: 10px 0 0 10px;
                &.next {
                    background-color: #7ced2fcc;
                    color: $white;
                }
            }
            &__tip {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                border-radius: 0 10px 10px 0;
                border: none;
                background-color: $bgwhite;
                height: 40px;
                text-decoration: none;
                font-size: 1,1rem;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
            }
        }
        &__warn {
            width: $wmax;
            color: rgba(0, 0, 0, 0.7);
            border-left: 4px solid rgba(0, 0, 0, 0.7);
            padding: 10px;
            display: block;
        }
        // &__resolution {
        //     background: #fefdffcc;
        //     position: relative;
        //     width: $wmax;
        //     max-width: 1200px;
        //     border-radius: 0 0 10px 10px;
        //     padding: 10px;
        //     text-align: left;
        //     margin: 0 auto;
        //     h4 {
        //         color: #4a4a4a;
        //         font-size: 1.5rem;
        //         text-align: end;
        //         padding: 10px;
        //         border-right: 5px solid #4a4a4a;
        //         margin: 0;
        //     }
        //     p {
        //         line-height: 22px;
        //         color: #4a4a4a;
        //         font-size: 1rem;
        //     }
        // }
        // &__alert {
        //     border-radius: 20px;
        //     margin: 10px 0;
        //     background-color: #efefefba;
        //     padding: 10px 20px;
        //     text-align: left;
        //     display: flex;
        //     align-items: center;
        //     p {
        //         padding: 0 0 0 10px;
        //     }
        //     &--correct {
        //         background-color: #f0f7f2;
        //         p {
        //             color: #00b500;
        //         }
        //     }
        //     &--incorrect {
        //         background-color: #f7ddf5;
        //         p {
        //             color: #a10303;
        //         }
        //     }
        // }
        &__tutorial {}

       
    }

    // Xs
    @media (max-width: 575px) {
        .Question {
            &__info {
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column-reverse;
                padding: 10px 0;
                &__about {
                    &__title {}
                    &__icon {}
                    &__desc {}
                }
                &__title {
                    font-size: 1.3rem;
                    padding: 0;
                }
            }
            &__paragraph {
                padding: 0;
                font-size: 1rem;
            }
            &__alternatives {
                &__option {
                    font-size: 1rem;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {
        padding: 40px 10px;
    }
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
