.rgsttn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: $brdef;
    background-size: cover;
    position: relative;
    &__image {
        width: 50%;
        background-color: #ece6ff;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 40px 10px;
        
        &Box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            max-width: 600px;
            flex-wrap: wrap;
        }
        &__lock {
            font-size: 200px;
            width: 100%;
        }
        &__title {
            width: 100%;
            margin: 5px 0;
        }
    }
    &__frm {
        width: 50%;
        display: flex;
        padding: 40px 10px;

        &Box {
            flex-wrap: wrap;
            text-align: left;
            padding: 20px;
            margin-left: -40px;
            border-radius: $brdef;
            display: flex;
            justify-content: flex-start;
            max-width: 400px;
            background-color: $white;
            box-shadow: 0 0 10px $gray;
            flex-direction: column;

            .prfl__inf {
                display: flex;
                flex-wrap: wrap;
            }
        }
        svg {
            margin: 7px 10px 0 0;
        }
    }
    &__flst {
        border: none;
        padding: 10px 0;
        position: relative;
        font-size: .9em;
        width: 100%;
        legend {
            text-align: left;
            color: #716b72;
        }
        &--optns {
            @include flexunscen;
            flex-wrap: wrap;
        }
        &__rtrn {
            @include warn;
        }
    }
    .success {
        position: absolute;
        top: 20px;
        left: 30px;
        padding: 20px;
        border-left: 3px solid $orange;
        background-color: $white;
    }

     // Xs
     @media (max-width: 575px) {
        &__image {
            display: none;
        }
        &__frm {
            width: $wmax;
            &Box {
                margin-left: 0;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}