.stdnt {
    position: relative;
    &__grtns {
        width: 100%;
        position: absolute;
        box-sizing: border-box;
        top: 10px;
        left: 0;
        text-align: left;
        padding: 10px 20px;
        color: $white;
        font-size: 2rem;
    }
    &__inf {
        background-color: rgb(58 13 239 / 30%);
        &__bx {
            @include flexcenuns;
            margin: 0px auto 0;
            justify-content: space-between;
            position: relative;
            padding: 100px 10px 40px;
            max-width: 1200px;
        }
        &__grtng {
            display: none;
            font-size: .8em;
            font-weight: 700;
        }
        &__img {
            img {
                width: 100px;
                max-width: $wmax;
                border-radius: $brdef;
                vertical-align: middle;
            }
        }
        &__nm {
            color: $fc-white;
        }
        &__b {
            color: $fc-white;
        }
        &__abt {
            text-align: left;
            padding: 0 10px;
            color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__idntfctn {
            p {
                margin: 5px 0;
                color: $fc-white;
            }
        }
        &__emblm {
            @include flexcenuns;
            justify-content: flex-end;
            flex-wrap: wrap;
            width: 30%;
            padding: 10px 0 0;
            flex-direction: row;
            &__xp {
                border-radius: $brdef ;
                background-color: rgb(255 153 0);
                padding: 10px;
                color: $white;
                margin-right: 10px;
                cursor: grab;
            }
            &__bx {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px;
                background-color: rgb(255 153 0);
                border-radius: $brdef;
                position: relative;
                span {
                    color: $white;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &__edt {
                text-decoration: underline;
                border-radius: $brdef;
                padding: 5px 10px;
                color: rgb(177, 117, 27);
                border: 2px solid rgb(255 153 0);
                position: absolute;
                top: 25px;
                right: 10px;
                cursor: pointer;
            }
        }
    }
    &__mdl {
        margin-left: 5px;
        width: 25px;
        height: 25px;
        &--smth1  {color: rgb(138, 223, 81);}
        &--smth2  {color: rgb(239, 112, 224);}
        &--mdl1   {color: rgb(255, 225, 0);}
        &--mdl2   {color: rgb(144, 144, 143);}
        &--mdl3   {color: rgb(247, 247, 5);}
        &--dmnd4  {color: rgba(219, 102, 230, 0.857);}
        &--dmnd5  {color: rgb(255, 25, 0);}
        &--dmnd6  {color: rgb(6, 93, 192);}
        &--dmnd7  {color: rgb(154, 94, 5);}
        &--dmnd8  {color: rgb(165, 3, 60);}
        &--dmnd9  {color: rgb(5, 4, 99);}
        &--dmnd10  {color: rgb(174, 174, 69);}
        &--dmnd11  {color: rgb(230, 230, 221);}
        &--dmnd12  {color: rgb(118, 5, 5);}
        &--dmnd13  {color: rgb(10, 132, 134);}
        &--dmnd14  {color: rgb(131, 6, 87);}
        &--dmnd15  {color: rgb(255, 11, 243);}
        &--rckt1 {color: rgb(250, 250, 250);height: .9em;}
        &--rckt2 {color: rgb(109, 98, 109);height: 1.1em;}
        &--rckt3 {color: rgb(79, 71, 79);height: 1.5em;}
    }

    // Xs
    @media (max-width: 575px) {
        &__grtns {
            font-size: 1.5rem;
        }
        &__inf {
            flex-wrap: wrap;
            &__grtng {
                display: block;
            }
            &__img {
                width: 30%;
            }
            &__b {
                display: none;
            }
            &__abt {
                flex-wrap: wrap;
                text-align: center;
                width: 70%;
                padding: 10px;
            }
            &__idntfctn {
                width: $wmax;
            }
            &__emblm {
                display: none;
                width: $wmax;
                padding: 10px;
                &__bx {
                    justify-content: center;
                }
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
