.stdnt {
    padding: 10px;
    &__inf {
        @include flexcenuns;
        max-width: 1200px;
        margin: 10px auto;
        justify-content: space-between;
        background-color: $bg-box;
        position: relative;
        padding: 10px;
        border-radius: $brdef ;
        &__grtng {
            display: none;
            font-size: .8em;
            font-weight: 700;
        }
        &__img {
            img {
                width: 100px;
                max-width: $wmax;
                border-radius: $brdef;
                vertical-align: middle;
            }
        }
        &__nm {
            color: $fc-white;
        }

        &__b {
            color: $fc-white;
        }
        &__abt {
            text-align: left;
            padding: 0 10px;
            color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__idntfctn {
            p {
                margin: 5px 0;
            }
        }
        &__emblm {
            @include flexcenuns;
            justify-content: flex-end;
            flex-wrap: wrap;
            width: 30%;
            padding: 10px 0 0;
            flex-direction: row;
            &__xp {
                border-radius: $brdef ;
                background-color: $bgblue80;
                padding: 10px;
                color: $white;
                margin-right: 10px;
            }
            &__bx {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px;
                background: $bgblue80;
                border-radius: $brdef ;
                position: relative;
                margin-right: 10px;
                span {
                    color: $white;
                }
                // &:before {
                    //     content: "Emblemas";
                    //     position: absolute;
                    //     top: -15px;
                    //     font-size: .7em;
                    // }
                &:hover {
                    cursor: pointer;
                }
            }
            &__edt {
                text-decoration: underline;
                border-radius: $brdef ;
                padding: 2px 5px;
                color: $cblue80;
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
    }
    &__mdl {
        margin-left: 5px;
        width: 25px;
        height: 25px;
        &--smth1  {color: rgb(138, 223, 81);}
        &--smth2  {color: rgb(239, 112, 224);}
        &--mdl1   {color: rgb(255, 225, 0);}
        &--mdl2   {color: rgb(144, 144, 143);}
        &--mdl3   {color: rgb(247, 247, 5);}
        &--dmnd1  {color: rgb(198, 198, 13);}
        &--dmnd2  {color: rgb(13, 138, 4);}
        &--dmnd3  {color: rgb(255, 255, 0);}
        &--dmnd4  {color: rgba(40, 116, 249, 0.857);}
        &--dmnd5  {color: rgb(255, 25, 0);}
        &--dmnd6  {color: rgb(230, 230, 221);}
        &--trphy1 {color: rgb(255, 213, 0);}
        &--trphy2 {color: rgb(185, 185, 178);}
        &--trphy3 {color: rgba(255, 255, 0, 0.715);}
        &--rckt1  {color: rgb(170, 170, 165);}
        &--rckt2  {color: rgb(98, 98, 93);}
        &--rckt3  {color: rgb(16, 16, 15);}
    }

    // Xs
    @media (max-width: 575px) {
        &__inf {
            flex-wrap: wrap;
            &__grtng {
                display: block;
            }
            &__img {
                width: 30%;
            }
            &__b {
                display: none;
            }
            &__abt {
                flex-wrap: wrap;
                text-align: center;
                width: 70%;
                padding: 10px;
            }
            &__idntfctn {
                width: $wmax;
            }
            &__emblm {
                display: none;
                width: $wmax;
                padding: 10px;
                &__bx {
                    justify-content: center;
                }
            }

        }

    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}
