$background-color-dark: #292A32;
$background-color-light: #FBFAF8;
$complimentary-color-dark: #393B43;
$complimentary-color-light: #FEFFFF;

body {
  background-color: $background-color-light;
  color: $background-color-dark;
}

body.dark-mode {
  background-color: $background-color-dark;
  color: $background-color-light;

  // Course
  .crs {
    &__itm {
        box-shadow: 0 0 0 1px $gray;
        &__ttl, &__edt__anchr {
            color: $white;
        }
    }
    &__srch {
        &__inpt, &__inpt::placeholder {
            color: $white;
        }
    }
  }

  // Matter
  .mttr {
    &__itm {
        box-shadow: 0 0 0 1px $gray;
        &__ttl, &__edt__anchr {
            color: $white;
        }
    }
    &__srch {
        &__inpt, &__inpt::placeholder {
            color: $white;
        }
    }
  }

  // Profile
  .prfl {
    &__inf {
        &__itm, &__itm svg {
            color: $white;
        }
    }
  }
}
