// Variables

@import "./Variables.scss";

// Components

@import "./components/Button.scss";
@import "./components/Card.scss";
@import "./components/Chart.scss";

// Pages

@import "./pages/Carousel.scss";
@import "./pages/Contact.scss";
@import "./pages/Content.scss";
@import "./pages/Error.scss";
@import "./pages/Feed.scss";
@import "./pages/Footer.scss";
@import "./pages/Header.scss";
@import "./pages/Help.scss";
@import "./pages/Home.scss";
@import "./pages/Login.scss";
@import "./pages/Matter.scss";
@import "./pages/Notifications.scss";
@import "./pages/Profile.scss";
@import "./pages/Quiz.scss";
@import "./pages/User.scss";