// Variables

@import "./Variables.scss";

// Components

@import "./components/Alert.scss";
@import "./components/Bar.scss";
@import "./components/Button.scss";
@import "./components/Card.scss";
@import "./components/Chart.scss";
@import "./components/Editor.scss";
@import "./components/Emoji.scss";

// Pages

@import "./pages/ArticlesList.scss";
@import "./pages/Carousel.scss";
@import "./pages/Contact.scss";
@import "./pages/Content.scss";
@import "./pages/Course.scss";
@import "./pages/Emblem.scss";
@import "./pages/Error.scss";
@import "./pages/Feed.scss";
@import "./pages/Footer.scss";
@import "./pages/Header.scss";
@import "./pages/Help.scss";
@import "./pages/Home.scss";
@import "./pages/Institutional.scss";
@import "./pages/Login.scss";
@import "./pages/Matter.scss";
@import "./pages/Moderate.scss";
@import "./pages/Notifications.scss";
@import "./pages/Profile.scss";
@import "./pages/Quiz.scss";
@import "./pages/Registration.scss";
@import "./pages/User.scss";