@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Oswald:wght@300&display=swap');

// Color

$cblack70 : rgb(0, 0, 0, 1);
$black : #000000;
$white : #ffffff;
$cblue80 : rgb(92, 161, 171);

// Background

$bgligblue : #b3d2d5;
$bgligblue80 : #b3d2d580;
$bgblue80 : rgb(92 161 171 / 80%);
$bgwhite : rgba(255, 255, 255, 1);
$bgwhite95 : #fffff95e;
$bggray : #cccccc;
$bgblack70 : rgba(0, 0, 0, 0.7);
$bgdarred : #e63c3c;
$bgred : #ff0000;
$bgwhitealt : rgb(239 239 239);
// FontFamily

// FontSize

// FontWeight

// Border

$brdef : 10px;

// BorderColor
$bc-gray : #cccccc;
$bc-black70 : rgb(0, 0, 0, 70%);


// BorderRadius


// Width
$wmax : 100%;

// Mixin

@mixin flexcencen {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexcencenwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@mixin flexcenuns {
    display: flex;
    align-items: center;
}
@mixin flexunscen {
    display: flex;
    justify-content: center;
}
@mixin flexwrap {
    display: flex;
    justify-content: center;
}