@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Oswald:wght@300&display=swap');

// Color

$cblack70 : rgb(0, 0, 0, 1);
$black : #000000;
$white : #ffffff;
$cblue80 : rgb(92, 161, 171);
$gray : #cccccc;
$green : #00b500;

// Background

$bgligblue : #b3d2d5;
$bgligblue80 : #b3d2d580;
$bgblue : rgb(92 161 171 / 1);
$bgblue80 : rgb(92 161 171 / 80%);
$bgwhite : rgba(255, 255, 255, 1);
$bgwhite95 : #fffff95e;
$bggray : #cccccc;
$bgblack70 : rgba(0, 0, 0, 0.7);
$bgdarred : #e63c3c;
$bgred : #ff0000;
$bgwhitealt : rgb(239 239 239);
$bggreen80 : #7ced2fcc;
$bgunset : unset;
// FontFamily

// FontSize
// FontColor
$fc-white: #FFF;
$fc-black: #000;

// FontWeight

// Border

$brdef : 10px;

// BorderColor
$bc-gray : #cccccc;
$bc-black70 : rgb(0, 0, 0, 70%);
$bc-white : #ffffff;
$bg-white80 : rgb(255 255 249 / 74%);

$bg-box: rgb(6, 6, 6);
$bc-box: rgb(92 161 171 / 80%);
$bg-main: rgb(14 18 28);


// BorderRadius


// Width
$wmax : 100%;

// Mixin

@mixin flexcencen {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexcencenwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@mixin flexcenuns {
    display: flex;
    align-items: center;
}
@mixin flexunscen {
    display: flex;
    justify-content: center;
}
@mixin flexwrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
@mixin input-font {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
}
@mixin select {
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

@mixin warn {
    width: 100%;
    color: $fc-white;
    border-left: 4px solid $bc-white;
    padding: 10px;
    text-align: left;
    display: block;
    margin: 0 5px;
    svg {
        margin-right: 10px;
    }
}

.demo-editor {
    background-color: #FFF;
    padding: 10px;
}
