.hmBnnrs {
    position: relative;
    overflow-y: hidden;
    height: 10vh;
    .swiper {
        padding: 0 0 35px;
        img {
            width: 100%;
        }
    }
}

.swiper {
    padding: 0 0 35px;
}
.swiper-scrollbar {
    height: 0 !important;
}

.actns {
    background-color: #edededbd;
    padding: 20px 10px;
    &__dscrptn {
        position: relative;
        text-align: left;
        padding-left: 5px;
        border-left: 3px solid #000;
        padding: 10px;
        max-width: 1200px;
        margin: 0 auto 20px;
        &__icn {
            display: inline-block;
            height: 100%;
            background-color: #000;
            border-radius: 10px;
            padding: 5px 10px;
            font-size: 30px;
            svg {
                color: #fff;
            }
        }
        &__ttl {
            padding: 0 10px;
            font-size: 1.2em;
            p {
                margin: 0;
                font-size: .7em;
            }
            &--dscrptn {
                display: inline-block;
            }
        }
    }
    &__crds {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &--myPrgrss {
            justify-content: flex-start;
        }
    }
    &__itm {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        min-height: 150px;
        width: 24%;
        max-width: 300px;
        height: 100%;
        background-color: #ffffff85;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        margin: 0 0px 10px 0;
        cursor: pointer;
        &__img {
            max-width: 100px;
            border-radius: 50%;
        }
        &__nm {
            font-size: 1.1rem;
            color: #000;
            text-transform: uppercase;
            font-weight: 700;
            margin: 10px 0;
            width: 100%;
            &--fd {
                color: #fff;
            }
        }
        &__inf {
            padding: 10px;   
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__icn {
            display: none;
        }
        &__bttn {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 10px;
            display: inline-flex;
            align-items: center;
            padding: 8px 2px;
            justify-content: center;
            margin: 10px 0 0;
            font-size: .9em;
            &--fd {
                background-color: #ff00b680;
                color: #fff;
            }
            svg {
                margin: 2px 5px 0 0;
            }

            &:hover {
                background-color: #efebebe0;
            }
        }
        &__dscrptn {
            font-size: 1rem;
            color: #000;
            width: 100%;
            height: 30px;
            &--fd {
                color: #fff;
            }
            svg {
                display: none;
            }
        }
        &__prgrss {
            width: 100%;
            height: 20px;
            padding: 5px;
            border: 2px solid rgba(177, 8, 253, 0.8);
            border-radius: 10px;
        }
        &__prcnt {
            height: 100%;
            background-color: rgba(177, 8, 253, 0.8);
            border-radius: 10px;
        }
        &__ht {
            font-size: .8em;
            padding: 10px 0;
        }
        &--fd {
            background-color: #b108fdcc;
        }
        &--myPrgrss {
        }

        &:hover {
            box-shadow: inset 0px 0px 20px #efebebe0;
        }
    }
    &__tchrs {
        width: 100%;
        &__lst {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &__itm {
        }
        &__anchr {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__img {
            width: 90px;
            height: 90px;
            border: 2px solid #ccc;
            border-radius: 50%;
            margin: 0 0 10px;
        }
        &__nm {
            width: 100%;
            font-size: .9em;
            color: #706f6f;
        }
        &__dscrptn {
            margin: 0;
            font-size: .9em;
        }
    }
    &--bg-01 {
        background-color: #eef5f5;
    }

    // Xs
    @media (max-width: 575px) {
        &__crds {
            justify-content: space-between;
        }
        &__itm {
            width: 49%;
            height: 220px;
            &__inf {
                padding: 0;
            }
            &__dscrptn {
                display: none;
            }
            &__bttn {}
            &--myPrgrss {
                margin: 0 auto;
                width: 100%;
                height: 300px;
            }
        }
    }
    // Sm
    @media (min-width: 576px) {
        &__itm {
            margin: 0 5px 5px 0;
            &--myPrgrss {
                width: 300px;
            }
        }
    }
    // Md
    @media (min-width: 768px) {
        &__crds {
            &--myPrgrss {
                padding: 0 20px;
            }
        }
        &__itm {
            &__img {
                &--myPrgrss {
                    width: 50%;
                    border-radius: 10px;
                }
            }
            &__nm {
                &--myPrgrss {
                    width: 50%;
                    height: 40px;
                }
            }
            &__inf {
                &--myPrgrss {
                    width: 100%;
                    justify-content: flex-end;
                    padding: 0;
                }
            }
            &__dscrptn {
                &--myPrgrss {
                    display: none;
                }
            }
            &__bttn {
                &--myPrgrss {
                    margin: 10px 10px 10px 0;
                }
            }
            &--myPrgrss {
                width: 100%;
                max-width: 500px;
                justify-content: space-between;
            }
        }
    }
    // Lg
    @media (min-width: 991px) {
        &__itm {
            &--fd {
                height: 300px;
            }
            &--myPrgrss {
            }

            &:hover:not(.actns__itm--myPrgrss) {
                height: 300px;
            }
        }
    }
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}