.hdr {
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 70%);
    z-index: 2;
    &__wrppr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 5px;
        &--m {
            justify-content: flex-end;
            height: 100%;
            background-color: rgb(203 203 203);
            width: 75%;
            padding: 20px 10px;
        }
    }
    &__lg {
        width: 10%;
        display: block;
        text-align: left;
        &__img {
            max-width: 90px;
        }
    }
    &__pgs {
        text-align: center;
        flex-grow: 1;
        height: 100%;
        &__itm {
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
        }
    }
    &__optns {
    }
    &__bttns {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &--mbl {
            display: none;
        }
    }
    &__lst {
        margin: 0 2px;
        white-space: nowrap;
        &--brdr {
            border-radius: 10px;
            background-color: rgba(177, 8, 253, 0.8);
            padding: 5px 10px;
            margin-left: 10px;
        }
    }
    &__itm {
        cursor: pointer;
        &__icn {
            margin: 3px 5px 0 0;
            color: #fff;
            svg {
                margin: 0 5px -2px 0;
            }
            &--ntfctn {
                &:after {
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: red;
                    content: "";
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: 5px;
                }
            }
            &--lgn {
                margin: 0;
            }
        }
        &__nm {
            color: #fff;
        }
        &--ntfctn {
            position: relative;
        }
    }
    &--mbl {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        justify-content: flex-end;
        z-index: 2;
        top: 0;
        right: -100%;
        box-sizing: border-box;
        transition: width 3s;
        &__actns {
            width: 100%;
            height: 50px;
            text-align: right;
        }
        &__cls {
            cursor: pointer;
        }
        &__opncn {
            color: #fff;
            font-size: 35px;
        }
        &__clscn {
            margin-right: 10px;
        }
        &__clsnm {
            background-color: #d20be36b;
            border-radius: 20px;
            padding: 10px 15px;
            color: #fff;
            svg {
                margin-bottom: -5px;
                font-size: 1.4em;
            }
        }
        &__usr {
            width: 100%;
            background-color: #fffff95e;
            padding: 10px 0;
        }
        &__prfl {}
        &__icn {
            border-radius: 20px;
            width: 100px;
            margin: auto;
        }
        &__inf {
            display: flex;
            flex-direction: column;
        }
        &__nm {
            margin: 0 0 0 10px;
            font-size: 1.3rem;
            color: #fff;
        }
        &__ocptn {
            color: #fff;
        }
        &__lst {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #fffff95e;
            li {
                padding: 20px;
                border-bottom: 2px solid #9400d3;
                color: #fff;
            }
        }
        &--opn {
            display: flex;
            right: 0;
            transition: right 3s;
        }
    }

    // Xs
    @media (max-width: 575px) {
        &__pgs,
        &__bttns {
            display: none;
        }
        &__lg,
        &__optns {
            width: 50%;
        }
        &__bttns {
            &--mbl {
                text-align: right;
                display: block;
                svg {
                    font-size: 30px;
                }
            }
        }
    }
    // Sm
    @media (min-width: 576px) {}
    // Md
    @media (min-width: 768px) {}
    // Lg
    @media (min-width: 991px) {}
    // Xl
    @media (min-width: 1200px) {}
    // Xxl
    @media (min-width: 1400px) {}
}

