{
    "extends": "react-app",
    "plugins": [
      "react-hooks"
    ],
    "rules": {
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "no-multi-spaces": 1,
      "react/jsx-tag-spacing": 1,
      "react/jsx-closing-bracket-location": 1,
      "react/jsx-boolean-value": 1,
      "react/no-string-refs": 1,
      "react/self-closing-comp": 1,
      "react/sort-comp": 1,
    }
  }